$btn_base_fontsize: 11px;

$color-success: $green;
/*
* a.button and a.button-cta are in place to avoid specifity issues with .invert-text a which makes the color of links $red.
*/
button, .button {
    outline: none;
    border: 2px solid $red;
    background: $button-bg;
    color: $button-text;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: $btn_base_fontsize;
    line-height: 2.4em;
    font-weight: 500;
    height: 2.4em;
    letter-spacing:1px;
    border-radius: 0;
    padding: 0 1em;
    text-transform: uppercase;
    vertical-align: middle;
    transition: border-color 0.1s ease-in-out, background-color 0.05s ease-in-out;

    &:active {
        color:#444;

        background:darken(#fff, 15);
        border-color: transparent;//rgba(255,255,255,.8);
    }
    /**/

    &:disabled, &.disabled {
        opacity: .5;
        color: $button-border;
        pointer-events: none;
    }

    .icon {
        vertical-align: middle;
        font-size: 1em;
    }
}

.no-touch button, .no-touch .button {
    &:hover {
        background: rgba(255,255,255,0.95);
        color:#444;
    }
}

.follow-button {
    background-color: $appearance-white;
    color: $red;
    line-height: 2.2em;
}

.feed-item {
    .follow-button, .closet-button {
        background-color: white;
        border-color: #8F8F8F;
        color: #8F8F8F; 
    }

    .button-success {
        background-color: $color-success;
        border-color: $color-success;
        color: white;
    }
}

.icon-button {
    font-size: $btn_base_fontsize;
    width: 2.3em;
    height: 2.3em;
    padding: 0;
    border-radius: 50%;

    .icon {
        font-size: 1em;
        width: 2.1em;
        height: 2.1em;
        line-height: 2.1em;
        vertical-align: top;
    }
}

.button .icon-ebay{
    font-size: 1.4em;
    line-height: .8;
    position: relative;
    top:.2em;
}


.button-small, a.button-small {
    font-size: rem-calc($btn_base_fontsize - 2);
}

.button-xsmall, a.button-xsmall {
    font-size: rem-calc($btn_base_fontsize - 4);
}

.button-large, a.button-large {
    font-size: rem-calc($btn_base_fontsize + 2);
}

.button-xlarge, a.button-xlarge {
    font-size: rem-calc($btn_base_fontsize + 4);
}

.button-cta, a.button-cta{
    background:$bright-red;
    color: white;
    border-color: transparent;

    &:hover{
        border-color: transparent;
        background: darken($red, 5);
        color: white;
    }

    &:active{
        background: darken($red, 11);
         color: white;
    }
}
.button-cta1, a.button-cta1{
    background: #000000;

    color: white;
    border-color: transparent;

    &:hover{
        border-color: transparent;
        background: darken($red, 5);
        color: white;
    }

    &:active{
        background: darken($red, 11);
         color: white;
    }
}


.button-success, a.button-success{
    color: $color-success;
    border-color: $color-success;

    &:hover,
    &:focus {
        border-color: transparent;
        background: $bright-red;
        color: white;
    }
}

.button-success, a.button-success{
    background: $color-success;
    color: white;// $color-success;

    border-color: $color-success;

    &:hover,
    &:focus {
        border-color: transparent;
        background: darken($color-success, 5);
        color: white;
    }
    &:active{
        background: darken($color-success, 9);
    }
}

.button-fullwidth {
    width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
}

.textbutton,
a.textbutton {
    margin: 0;
    padding: 0;
    display: inline;
    border: none;
    background: transparent;
    color: inherit;
    line-height: 1.5;
    text-decoration: none;
    border-radius: 0;

    &:hover, &:focus {
        background: transparent;
        color: inherit;
        opacity: 0.9;
    }
}

.textbutton-heavy,
a.textbutton-heavy {
    font-weight: 600;
}

.textbutton-light,
a.textbutton-light {
    font-weight: 300;
}

.share-button-pinterest{
    display:inline-block;
    padding: 10px 10px 3px 25px;
}

.share-button-twitter{
    display:inline-block;
    padding: 10px 0px 3px 15px;
}
.share-button-facebook{
    display:inline-block;
    position: relative;
    top:-7px;
    padding: 10px 10px 3px 0px;
}

.sound-button {
    font-size: 1.4em;
    color: white;
    margin-right: 10px;
    width: 30px;
    vertical-align: middle;
    height: 2.2em;
}
.no-touch .sound-button {
    &:hover, &:focus, &:active {
        background-color: transparent;
        color: $trans-white-3;
    }
}

/* Partially hacky and duplicated stuff here.
   Didn't solve this "correctly" because the hero pages
   will get a full make-over soon and we will implement
   correctly styled buttons then
*/
$darken-factor:20;
$border-size:2px;

.hero-actions .button:not(.button-success) {
    border: none;
    background: $red;
    color: white;
}

.hero-actions .button-success {
    border: none;
}

.no-touch .hero-actions .button-success {
    &:hover, &:focus{
        background: darken($color-success, 5%);
        color: white;
    }
}

.no-touch .hero-actions .button:not(.button-success) {
    &:hover, &:focus{
        background: darken($red, 5%);
        color: white;
    }
}
// end of ugly css
