.flashmessages {
    position: fixed;
    top: 7.5rem;
    width: 100%;
    max-width: 640px;
    left: 50%;
    z-index: 9999;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    //pointer-events: none;
}

.flashmessage {
    padding: .5em;
    border: 1px solid $trans-white-8;
    background-color: $trans-black-4;
    border-radius: rem-calc(5);
    margin: 1em 0;
    font-size: $small-font;
    color: #333;
    text-shadow: none;
    z-index: 9999;
    
    .flash-title {
        font-weight: normal;
        margin: 0 0 .3em 0;
        font-size: 1.3em;
        color: $red;
    }

    .flash-body {
        margin: .5em 0 0 0;
    }

    &.flashmessage-success {
        .flash-title {
            color: $success-color-bright;
        }
    }

    &.flashmessage-error {
        .flash-title {
            color: $error-color-bright;
        }
    }
}

.flashmessage-animated {
    animation-name: flashmessage;
    animation-duration: 4s;

    transform-origin: top center;
    transform: rotateX(90deg);
    opacity: 0;
}

@keyframes flashmessage {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    20% {
        transform: translateY(0%);
        opacity: 1;
    }

    90% {
        transform: translateY(0%);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}