$input_base_fontsize: 14px;

.textinput, #{$all-text-inputs}, .looklive-select select{
    font-size: $input_base_fontsize;
    display: block;
    width: 100%;
    box-sizing: border-box;
    line-height: 2.0em;
    height: 2.15em;
    border-radius: em(3, $input_base_fontsize);
    padding: 0 1em;
    border: 1px solid $trans-white-6;
    background-color: $trans-black-6;
    color: white;
    font-weight: 400;
    transition: border-color .1s linear, background-color .1s linear;
    outline: none;

    @include placeholder {
        color: $trans-white-6;
    }

    &:hover {
        border-color: white;
        background-color: $trans-black-2;
    }

    &[disabled], &.disabled {
        color: $trans-white-6;
        &:hover {
            border: 1px solid $trans-white-6;
            background-color: $trans-black-6;
        }
    }
}

.form-control-error {
    .textinput, #{$all-text-inputs}, .looklive-select select {
        border: 1px solid red;
    }
}

.looklive-select {
    position: relative;
    select {
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
    }

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    &:before {
        font-family: "looklive-icons";
        font-style: normal;
        font-weight: normal;
        line-height: 1.9;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: block;
        content: "\E01A" !important; // use important here because the clearfix mixin on form-horizontal would mess this up..
        color: white;
        position: absolute;
        right: .7em;
        top: 0;
        pointer-events: none;
    }
}

.dateselect {
    display: inline-block;
    margin-right: em(2);

    select {
        padding-left: .6em;
    }

    &.dateselect-m {
        width: 113px;
    }

    &.dateselect-d {
        width: 57px;
    }

    &.dateselect-Y {
        width: 74px;
    }
}

.looklive-radiogroup {
    list-style: none;
    padding-left: 0;

    li {
        display: inline-block;
    }

    $radioSize: em(16);

    label {
        position: relative;
        padding-left: 2em;
        line-height: $radioSize;
        display: inline-block;

        &:before {
            width: $radioSize;
            height: $radioSize;
            border-radius: 50%;
            border: 1px solid $trans-black-8;
            background-color: white;
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            transition: border-color .2s linear;
        }

        &:after {
            left: $radioSize/4;
            top: $radioSize/4;
            content: "";
            position: absolute;
            width: $radioSize/2;
            height: $radioSize/2;
            background-color: black;
            border-radius: 50%;
            opacity: 0;
            transition: opacity .2s linear;
        }
    }

    input:checked+label {
        &:after {
            opacity: 1;
        }
        &:before {
            border-color: $trans-black-8;
        }
    }

    input {
        position: absolute;
        left: -999px;
    }
}

.searchinput {
    position: relative;
    .textinput {
        box-sizing: border-box;
        padding-left: em(30);
    }

    .icon {
        position: absolute;
        left: em(10);
        bottom: 0;
        display: block;
        color: $trans-white-6;
    }
}

.invert-text {
    .textinput, #{$all-text-inputs}, .looklive-select select {
        background-color: transparent;
        border: 1px solid $trans-black-8;
        color: $trans-black-3;

        &:hover, &:active, &:focus{
            background-color: transparent;
            border-color: $trans-black-5;
        }
    }
}

textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    line-height: em(28);
    border-radius: em(5);
    padding: 0 em(15);
    border: 1px solid $trans-white-6;
    background-color: $trans-black-6;
    color: white;
    transition: border-color .1s linear, background-color .1s linear;
    outline: none;

    @include placeholder {
        color: $trans-white-6;
    }

    &:hover {
        border-color: white;
        background-color: $trans-black-2;
    }

    &.no-resize {
        resize: none;
    }

    &[disabled], &.disabled {
        color: $trans-white-6;
        &:hover {
            border: 1px solid $trans-white-6;
            background-color: $trans-black-6;
        }
    }
}

.form-horizontal, .form-vertical {
    width: 100%;

    label {
        float: left;
        width: 100%;
        box-sizing: border-box;
        padding-right: 1em;
        text-align: left;
        margin: em(5) 0;
    }


    .textinput, #{$all-text-inputs}, .looklive-select select, textarea {
        float: left;
        width: 100%;
    }

    .form-control-group {
        @include clearfix;
        margin-bottom: 1em;
    }

    .form-errors {
        color: $red;
    }
}
.form-control-help{
    color: #888;
    clear: both;
    font-size: .8em;

    &:before {
        // color: inherit !important;
        font-family: "looklive-icons";
        font-style: normal;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\E00B" !important; // use important here because the clearfix mixin on form-horizontal would mess this up..
        pointer-events: none;
        display:inline;
        margin-right:.2em;
        position: relative;
        top:2px;
    }

}

input[type=range] {
    outline: none;
}

input[type=range].white-track {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 8px;
    height: 5px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
}


@media #{$medium-up} {
    .form-horizontal {
        label {
            width: 25%;
        }
        .checkbox-label{
            margin-left:25%;
            width: auto;
        }
        .textinput, #{$all-text-inputs}, .looklive-select select, textarea{
            width: 75%;
        }

        .looklive-select.dateselect select {
            width: 100%;
        }
    }

    .looklive-radiogroup {
        label {
            width: auto;
        }
    }
}