@mixin list-reset {
    list-style: none;
    padding: 0;
    margin: 0 10px 0 10px;
}

.list-unstyled {
    @include list-reset;
}

.list-inline {
    @include list-reset;
    
    & > li {
        display: inline-block;
        padding-right: em(5);
        padding-left: em(5);
    }
}