/*
* Mostly borrowed from Twitter Bootstrap's implementation
* https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_media.scss
*/

.media {
    margin-top: em(15);

    &:first-child {
        margin-top: 0;
    }
}

.media-right,
.media > .pull-right {
    padding-left: em(10);

    img {
        max-width: none;
    }
}

.media-left,
.media > .pull-left {
    padding-right: em(10);

    img {
        max-width: none;
    }
}

.media-left,
.media-right,
.media-body {
    display: table-cell;
    vertical-align: top;
}

.media-middle {
    vertical-align: middle;
}

.media-bottom {
    vertical-align: bottom;
}

// Reset margins on headings for tighter default spacing
.media-heading {
    margin-top: 0;
    margin-bottom: em(5);
}

.avatar-media {
    .media-left,
    .media-body {
        vertical-align: top;
    }

    .media-left img {
        border-radius: 50%;
        background-color: white;
        width: em(28);
        height: em(28);
        border: 2px solid white;
        vertical-align: baseline;
    }

    .item-title, .item-subtitle {
        font-size: em(16);
        font-weight: 500;
        line-height: 1.5em;
        margin: 0;
    }

    .item-subtitle {
        color: $trans-white-4;
        font-size: em(13);
    }
}

.feed-item .story-media .media-left, .appearance-image-container .avatar-media .media-left {
    vertical-align: middle;

    img {
        width: em(40);
        height: em(40);
    }
}

.hero-avatar-media {
    margin: rem-calc(10) 0;

    .media-left,
    .media-body {
        vertical-align: middle;
    }

    .media-left {

        img {
            width: rem-calc(27);
            height: rem-calc(27);
        }
    }

    .hero-header {
        padding: 0;
    }
}

@media #{$small-only} {
    .media-oauth-application {
        display: block;

        .media-right, .media-body {
            display: block;
            padding-left: 0;
        }
    }
}

@media #{$medium-up} {
    .hero-avatar-media {
        margin: rem-calc(25) 0;
        .media-left {

            img {
                width: rem-calc(50);
                height: rem-calc(50);
            }
        }
    }
}

@media #{$large-up} {
    .hero-avatar-media {
        .media-left {
            padding-right: 2rem;

            img {
                width: rem-calc(80);
                height: rem-calc(80);
            }
        }

        .hero-header {
            margin: 0;
        }
    }

}
