.modal-overlay{
    display:none;
    background: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 9000;

    &.open, &.loading{
        display: block;
    }


    .modal-close{
        padding:1em;
        cursor: pointer;
        position: absolute;
        right: 5px;
        top:0;
    }

}

