.popover {
    background-color: white;
    border-radius: em(4);
    opacity: 0;
    transform: translateZ(0px);
    display: none;
    position: absolute;
    z-index: 4002;
    padding: em(4) 0;

    // @include shadow(1px 2px 6px rgba(0,0,0,.5));
    box-shadow: 1px 2px 6px rgba(0,0,0,.5);
    width: 250px;

}

.popover-visible {
    display: block;
    //visibility: visible;
    opacity: 1;
}

/*
* assumes application on <ul>
*/
.popover-navlist {
    .menu-item {
        border-bottom: 1px solid $trans-black-9;

        &:last-child {
            border: none;
        }
    }

    a {
        color: $trans-black-3;
        padding: 0 1em;
        line-height: 2;
        display: block;

        &:hover, &:focus {
             background-color: $trans-black-9;
             color: black;
        }
    }
}

.arrow-top {
    margin-top: 1em;
    @include arrow-on-top(1em, white);
}

.arrow-left {
    margin-left: 1em;
    @include arrow-on-left(1em, white);
}

.arrow-right {
    margin-right: 1em;
    @include arrow-on-right(1em, white);
}

.arrow-bottom {
    margin-bottom: 1em;
    @include arrow-on-bottom(1em, white);
}