$inactive: $trans-white-8;
$active: $red;
$speed: 800ms;
// $size: 50px;
// $unit: $size / 16;

@keyframes spinner {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

$sizes: (32px, 50px);
$classes: (spinner-small, spinner);

@for $i from 1 through length($classes) {

    $size: nth($sizes, $i);
    $class: nth($classes, $i);

    $unit: $size / 16;

    .#{$class}{

        display: block;
        width: $size;
        height: $size;
        border-radius: 50%;
        border: $unit solid $inactive;
        animation: spinner $speed linear infinite;

        position: relative;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: -$unit;
            left: -$unit;
            display: block;
            width: $size;
            height: $size;
            border-radius: 50%;
            border: $unit solid transparent;
            border-top-color: $active;
        }

    }

}



/* Special casing spinner behaviour */
.loading .appearance-preloader {
    @extend .spinner;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    z-index: 500;
}