/*
    For creating columns grids looking like tables
    Used in VOD modal, could be extended and improved.
*/
.table{

    line-height: 2.2em;
    font-size: 14px;
    border: 1px solid #ededed;

    .row{
        border-bottom: 1px solid #ededed;

        &:last-child{
            border-bottom: none;
        }
    }

    .columns{
        padding: .5em;
    }

    .button{
        margin:0;
    }
}
