$xsmall-font: rem-calc(12);
$small-font: rem-calc(14);
$normal-font: rem-calc(16);
$large-font: rem-calc(18);
$xlarge-font: rem-calc(20);
$jumbo-font: rem-calc(24);
$huge-font: rem-calc(30);

body {
    text-rendering: optimizeLegibility;
    color: white;
    text-shadow: none;
    font-family: -apple-system, 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    font-size: $normal-font;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

a{
    color: inherit;
    text-decoration: none;
}

.colored-link-cta {
    color: $red;
}

h1, .h1 {
    font-weight: 500;
    font-size: rem-calc(32);
    line-height: 1.3;
}

h2, .h2 {
    font-weight: 400;
    font-size: rem-calc(24);
}

h3, .h3 {
    font-weight: 400;
    font-size: rem-calc(19);
}

h4, .h4 {
    font-weight: 400;
    font-size: rem-calc(16);
}

h5, .h5 {
    font-weight: 400;
    font-size: rem-calc(13);
}

h6, .h6 {
    font-weight: 400;
    font-size: rem-calc(11);
}

.text-weight-normal {
    font-weight: normal;
}

.text-weight-bold {
    font-weight: 500;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-noshadow {
    text-shadow: none;
}

.text-weighted {
    font-weight: 500;
    font-size: 1.3em;
}

.text-italic {
    font-style: italic;
}

.invert-text {
    color: black;
    text-shadow: none;

    a {
        color: $red;
    }
}