.pull-left {
    // important because this class implies forcing a float
    float: left !important;
}

.pull-right {
    // important because this class implies forcing a float
    float: right !important;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clearfix {
    &:before,
        &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
}

.reset-margin-bottom {
    margin-bottom: 0;
}

.reset-margin-top {
    margin-top: 0;
}

.reset-margin-left {
    margin-left: 0;
}

.reset-margin-right {
    margin-right: 0;
}

.reset-margin {
    margin: 0;
}

.avatar-inline img {
    width: .8em;
    height: .8em;
    border: 2px solid white;
    border-radius: 50%;
    //vertical-align: baseline;
}

.avatar{

    img{
        border-radius: 50%;
    }
}


.embed-code {
    font-family: monaco, monospace;
    font-size: 14px;
    padding: 1em;
    background-color: #efefef;
    color: #333;
    text-shadow: none;
}