$btn-grey: #A8A8A8;

$darken-factor:20;
$border-size:2px;

.btn{
    text-shadow: none;
    /* Structure */
    position: relative;
    top:-1px;
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Styling */
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;

    background-color: $btn-grey;
    color: #fff;
    border: none rgba(0, 0, 0, 0);

    text-decoration: none;
    border-radius: 1px;
    text-transform: uppercase;
    font-weight: 500;

    /* Firefox: Get rid of the inner focus border */
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }



    &[disabled], &.disabled{
        cursor: not-allowed;
        box-shadow: none;
        opacity: .7;
    }
}

.btn-small {
    font-size: 80%;
}

.btn-text {
    background: none;
    color: $red;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    text-transform: inherit;
    box-shadow: none;
    font-weight: inherit;


}

.btn-grey {
    // Used in the product finder
    background: $body-background-color;
    text-transform: inherit;
    border: 1px solid $light-grey;
    color: $text-color;
    box-shadow: none;
}

.btn-cta {
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.btn-round {
    // Used in the product finder
    border-radius: 18px;
    text-transform: inherit;
    box-shadow: none;
    padding: 0.5em 2.5em;
}

.btn-fullwidth {
    width: 100%;
}

.btn-wide-fixed {
    width: 195px;
}

.no-touch a.btn, .no-touch .btn {

    &:hover, &:focus{
        color:#fff;
        background: darken($btn-grey, 5%);
        outline: 0;

    }

    &.btn-cta{
        &:hover, &:focus{
            background: darken($red, 5%);
        }
    }
    &.btn-text {
        &:hover, &:focus{
            background: none;
            color: darken($red, 20);
        }
    }
    &.btn-grey {
        &:hover, &:focus{
            background: darken($body-background-color, 5%);
            color: $text-color;
        }
    }
}

.btn-facebook-signin {
    background: $facebook-blue;
    .svg-facebook-icon {
        height: 1.375em;
        color: white;
        width: 0.937em;
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        left: .9em;
            fill: white;
    }
}

.btn-large {
    text-transform: none;
    height: 2.5em;
}

.btn-round-follow {
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    transition: background-color .2s;

    &.follow {
        background-color: $red;
        .svg-checkmark-icon {
            opacity: 0;
            transform: translate(-50%, -50%) rotate(90deg);
        }
        .svg-follow-plus-icon {
            opacity: 1;
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }

    &.following {
        background-color: $green;
        .svg-checkmark-icon {
            opacity: 1;
            transform: translate(-50%, -50%) rotate(0deg);
        }
        .svg-follow-plus-icon {
            opacity: 0;
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

    .svg-icon {
        width: 1.3rem;
        height: 1.3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .2s;
        fill: white;
    }
}


#heart-path{
    fill:inherit;
    stroke:inherit;
}

.like-link{

    cursor: pointer;
    color:$light-grey;
    display: inline-block;
    position: relative;
    padding-left:25px;

    &:hover{
        color: $red;
    }


    .svg-heart-icon{
        animation-duration: 1s;
        animation-fill-mode: both;

        position: absolute;
        left:0;
        width:20px;
        height:20px;
        fill:none;
        stroke:$red;
    }

    &.active .svg-heart-icon{
        fill:$red;
        -webkit-animation-name: bounceIn;
        animation-name: bounceIn;
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
    }

}

.like-count-label {
    color: $light-grey;
    margin-left: 1em;
    margin-bottom: 1em;
    padding-left: 1.5em;
    position: relative;

    .svg-heart-icon {
        font-size: inherit;
        width: 1.2em;
        height: 1.2em;
        position: absolute;
        left: 0;
        fill: none;
        stroke: $red;
    }

    &.has-likes {
        color: $red;

        .svg-heart-icon {
            fill: $red;
        }
    }
}



@media #{$large-up} {
  .product-actions a.button.js-shop {
      line-height: 1.4em;
      vertical-align: middle;
  }

}

i.icon.icon-shop {
    font-size: 1.4em;
    display: inline-block;
    margin-right: 6px;
    margin-top: -3px;
}

button#mobile-button {
  width: 154px !important;
  height: 40px !important;
  border: none !important;
  object-fit: contain;
  opacity: 0.9;
  border-radius: 100px;
  background-color: #e53f41;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.49);
  text-align: center;
  color: #fff;
  position: fixed;
  left: calc(50% - 77px);
  bottom: 44px;
  z-index: 8000;
  font-size: 14px;
  padding: 0;
  padding-left: 24px;
  text-transform: none;
  span {
    margin-right: 7px;
    float: left;
    line-height: 40px;
    vertical-align: middle;
  }
  button#close {
    position: relative;
    float: left;
    background-image: url('/static/img/1477973501-cancel.svg');
    width: 11.9px;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 11.9;
    background-position: center;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    z-index: 1;
  }
}
