.card-feed{
    font-size: 13px;
    color:#696d6f;

    .card{
        width: 100%;
    }

    @media #{$medium-up} {
        .card{
            width: 375px;
            max-width: 100%;
        }
    }
}

.card-feed-inner {
    margin: 0 auto;
    max-width:700px;
}

.cards{
    font-size: 13px;
    color:#696d6f;
}

.feed-footer{
    padding:3em 0;
    text-align: center;
}

.card-feed-title {
    max-width: 500px;
    margin: 1em auto;
    font-size: 1.2rem;
}

.card{
    max-width: 400px;
    background:#fff;
    border: 1px solid transparent;
    border-radius: 3px;
    margin: 0 auto 1em auto;
}

.enroll-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.enroll-card {
    flex-shrink: 0;
    width: 100%;
    padding: .6em 0 0;
    margin: 1em auto 0;
    .card-avatar {
        margin: 0 1em;
    }
    .card-subject {
        padding-left: 1em;
        padding-right: 1em;
    }
    .card-img {
        margin-top: .5em;
    }
}

.enroll-card-follow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;
}

.appearance-card-click-products {
    text-align: right;
    display: block;
    width: 100%;
}

$card-avatar-size: 2.265em;

.card-header {
    margin: 0.625em;
    position: relative;
    padding-left: $card-avatar-size + 0.625em;
    min-height: $card-avatar-size;
    font-size: 14px;
    line-height: 1.2;
    display: flex;
    align-items: center;
 }

.card-subject {
    flex: 1;
    padding-right: .625em;
}

.card-time-ago{
    color:$light-grey;
}

.card-comment-area {
    padding: .5em 1em 1em 1em;
    border-top: 1px solid #ededed;

    color: $light-grey;
}

.card-avatar{
    width: $card-avatar-size;
    height: $card-avatar-size;
    position: absolute;
    left:0;
    top:0;
    overflow: hidden;
    border-radius:50%;

    img{ float: left; }
}

.card-img{
    position: relative;
    display:block;
    overflow: hidden;

    background: $lighter-grey;

    &.landscape { padding-top:56.2%; }
    &.portrait  { padding-top:150%; }
    &.square    { padding-top:100%; }

    img{
        position: absolute;
        top:0;
        bottom:0;
        width:100%;
        transition: opacity .3s ease-in-out;
        opacity: 1;
    }

    &.loading img {
        opacity: 0;
    }
}

.card-options{
    border-bottom: 1px solid #ededed;
    padding: .5em 1em;
    line-height: 20px;
    margin-bottom: .5em;
}

.card-body{
    margin:1em;
    margin-top: 0;
    color:$text-color;

    a {
        color: $red;
    }
}

.card-thumblist {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 1em;
}

.card-thumb {
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        position: absolute;
        top:0;
    }
}

.card-thumblist.image-orientation-l img {
    height: 100%;
    width: auto;
    max-width: none;
    left: 50%;
    transform: translateX(-50%);
}

// 1 image
.card-thumb:only-child {
    width: 100%;
    padding-top: 100%;
}

// 2 images
.card-thumb:nth-child(1):nth-last-child(2) {
    margin-right: 1px;
}

.card-thumb:nth-child(2):nth-last-child(1) {
    margin-left: 1px;
}

.card-thumb:nth-child(1):nth-last-child(2),
.card-thumb:nth-child(2):nth-last-child(1) {
    width: calc(50% - 1px);
    padding-top: 50%;
}

// 3 images (portrait)
.image-orientation-p .card-thumb:nth-child(1):nth-last-child(3) {
    margin-right: 1px;
    margin-bottom: 0;
    width: calc(67% - 1px);
    padding-top: 100%;
    flex-shrink: 0;
    img { height: 100%; }
}

.image-orientation-p .card-thumb:nth-child(2):nth-last-child(2),
.image-orientation-p .card-thumb:nth-child(3):nth-last-child(1) {
    position: absolute;
    right: 0;
    width: calc(33% - 1px);
    height: calc(50% - 1px);
    overflow: hidden;
    margin-right: 0px;
    margin-left: 1px;
    padding-top: 0;
    img {
        height: 100%;
        width: auto;
    }
}

.image-orientation-p .card-thumb:nth-child(2):nth-last-child(2) {
    top: 0;
    margin-bottom: 1px;
}

.image-orientation-p .card-thumb:nth-child(3):nth-last-child(1) {
    margin-top: 1px;
    bottom: 0;
    img {
        top: auto;
        bottom: 0;
    }
}

// 3 images (non-portrait)
.card-thumb:nth-child(1):nth-last-child(3) {
    width: 100%;
    padding-top: 100%;
    flex-shrink: 0;
    margin-bottom: 2px;
}

.card-thumb:nth-child(2):nth-last-child(2) {
    margin-right: 1px;
}

.card-thumb:nth-child(3):nth-last-child(1) {
    margin-left: 1px;
}

.card-thumb:nth-child(2):nth-last-child(2),
.card-thumb:nth-child(3):nth-last-child(1) {
    width: calc(50% - 1px);
    overflow: hidden;
    padding-top: 50%;
}

// 4 images
.card-thumb:nth-child(1):nth-last-child(4) {
    width: 100%;
    padding-top: 100%;
    flex-shrink: 0;
    margin-bottom: 2px;
}

.card-thumb:nth-child(2):nth-last-child(3),
.card-thumb:nth-child(3):nth-last-child(2),
.card-thumb:nth-child(4):nth-last-child(1){
    width: 33%;
    padding-top: 33%;
    flex: 1;
}

.card-thumb:nth-child(2):nth-last-child(3),
.card-thumb:nth-child(3):nth-last-child(2) {
    margin-right: 1px;
}

.card-thumb:nth-child(3):nth-last-child(2),
.card-thumb:nth-child(4):nth-last-child(1) {
    margin-left: 1px;
}

// 5 images
.card-thumb:nth-child(1):nth-last-child(5) {
    margin-right: 1px;
}

.card-thumb:nth-child(2):nth-last-child(4) {
    margin-left: 1px;
}

.card-thumb:nth-child(1):nth-last-child(5),
.card-thumb:nth-child(2):nth-last-child(4) {
    width: calc(50% - 1px);
    padding-top: 50%;
    margin-bottom: 2px;
}

.card-thumb:nth-child(3):nth-last-child(3),
.card-thumb:nth-child(4):nth-last-child(2),
.card-thumb:nth-child(5):nth-last-child(1){
    width: 33%;
    padding-top: 33%;
    flex: 1;
}

.card-thumb:nth-child(3):nth-last-child(3),
.card-thumb:nth-child(4):nth-last-child(2) {
    margin-right: 1px;
}

.card-thumb:nth-child(4):nth-last-child(2),
.card-thumb:nth-child(5):nth-last-child(1) {
    margin-left: 1px;
}


.card-thumb-overlay{
    position: absolute;
    top:0; left:0; bottom:0; right:0;
    background: rgba(0,0,0,.2);
    display: flex;
    align-items: center;

    .thumb-overlay-more-count {
        color: white;
        text-align: center;
        width: 100%;
        font-size: 35px;
    }
}

@media #{$medium-up} {
    .enroll-cards {
        padding: 0 1rem;
    }

    .enroll-card {
        flex-grow: 1;
        width: calc(50% - .75rem);
        max-width: calc(50% - .75rem);
        backface-visibility: hidden;
        transform: translateZ(0) scale(1);
        padding: 1em 0 0;
        cursor: pointer;

        .card-img {
            margin-top: 1em;
            transition: .3s;
        }
    }

    .no-touch .enroll-card:hover {
        .card-img {
            transform-origin: center center;
            transform: translateZ(0) scale(1.01);
            z-index: 9999;
            box-shadow: 0 2px 5px $light-grey;
        }
    }
}