.floating-well-actions {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $lighter-grey;
    padding: 1rem;
}

.floating-well-contents {
    overflow: auto;
    height: calc(100% - 72px);
    padding-bottom: 72px;
}

.floating-well-skip-action {
    position: absolute;
    color: $light-grey;
    left: 1.5rem;
    bottom: 1rem;
    top: auto;
    font-size: 12px;

    &.disabled {
        display: none;
    }
}

@media #{$medium-up} {
    .floating-well {
        min-width: $medium - 32px;
        width: 65vh;
        max-width: 1000px;
        height: 70vh;
        margin: 0 auto;
        margin-top: 1.25rem;
        border-radius: 2px;
        background-color: #f3f3f3;
        box-shadow: 0 6px 17px rgba(166,166,166,0.5);
        position: relative;
    }

    .floating-well-actions {
        position: absolute;
        background: none;
    }
}
