.form-container {
    padding: 1rem;
    max-width: 320px;
    margin: 0 auto;
}

.form-divider {
    margin: .7rem 0;
    color: $text-color;
    font-style: italic;

    &:after, &:before {
        height: .8em;
        vertical-align: top;
        border-bottom: 1px solid $text-color;
        width: 42%;
        content: "";
        display: inline-block;
    }

    span {
        margin: 0 3%;
    }
}

.form-title {
    margin: .7rem;
}

.form-input-group {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .form-control-group {
        width: calc(50% - .25rem);
    }
}

.form-input {
    padding: .5em .75em;
    font-size: 1rem;
    border: 1px solid $light-grey;
    margin: .25rem 0;
    width: 100%;
}

.form-p {
    margin: 1rem 0;
}

.form-alt-action {
    font-size: 14px;
}

.form-errors {
    color: $red;
    font-style: italic;
    margin-bottom: .5em;
}

@media #{$medium-up} {
    .form-container-padded {
        padding-top: 3.25rem;
    }
}