.navbar{
    font-size: 15px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    margin: 0;

    height: $navbar-height;
    line-height: $navbar-height;
    text-align: center;
    display: flex;

    // Promote to its own layer
    backface-visibility:hidden;

    background: $black;
    color:#fff;

    border-bottom: 1px solid #3a3a3a;

    @media #{$small-only} {
        //overflow: hidden;
        transition: background 0.35s linear,height 0.35s ease-in 200ms;
        &.open {
            //display: block;
            height:100%;
            //overflow: hidden;
            .navbar-menu-section {
                border-bottom: 1px solid $light-grey;
            }
        }
    }
}

.global-nav {
    line-height: 50px;
    a{
        color:#fff;
        &:active {
            color: $red
        }
    }
}

.no-touch .global-nav a:hover{
    color: $red;
}
.user-unauthenticated{
    font-size:12px;
    padding-right:10px;
    padding-left: 20px;
}

/*
----------------------------
   Layout of global nav list.
   Separated styles per state, as they don't share much
----------------------------
*/

$slide-in-transform: scale(1.1) translateY(-24px);
$slide-in-transition: opacity 0.35s ease-out, transform 0.35s ease-out .35s;

@media #{$small-only} {

    .user-unauthenticated{
        display: none;
    }

    .navbar-menu {
        margin:0;
        padding:0;
        //visibility: hidden;
        transform: $slide-in-transform;
        transition: $slide-in-transition;
        padding: 0 35px 35px 35px;
        text-align: left;
    }

    .navbar-search-form {
        position: absolute;
        top: 0;
        right: 0;
        left: -1px;
        //visibility: hidden;
        height: 0;
        //opacity: 0;
        background-color: $dark-grey;
        overflow: hidden;
        transition: .5s;
        z-index: 9999;

        .svg-search {
            width: 16px;
            height: 16px;
        }

        .navbar-search-field {
            margin: 0 20px;
            transition: opacity 0.35s ease-out;
            opacity: 0;
        }
    }

    .search-active {
        height: 100%;
        .navbar-search-form {
            visibility: visible;
            transform: none;
            height: 100%;//calc(100% - #{$navbar-height});
        }

        .navbar-search-field {
            opacity: 1;
        }
    }

    .navbar-menu-item {
        display: block;
        border-bottom: 1px solid rgba(255,255,255,.2);
    }

    .navbar-menu-item-selected {
        border-color: $red;
        border-width: 2px;
        a { color: $red; }
    }

    /*
    ----------------------------
        Pure CSS burger and cross.
    ----------------------------
    */

    .navbar-search-button {
        width: $navbar-height;
        height: $navbar-height;
    }

    .navbar-menu-button {
        position: absolute;
        flex-grow: 0;
        width:$navbar-height;
        height:$navbar-height;
        cursor:pointer;
        z-index: 100;
       
    }

    .profile-menu {
      display: none;
    }

    .navbar-burger{
        // Middle bar
        position: absolute;
        left:15px;
        width: $navbar-height - 30px;
        top: $navbar-height / 2 - 1px;
        height:1px;
        background: #fff;
        transition: background .3s;

        // Top and bottom bars via pseudo elements
        &::before, &::after{
            content: '';
            position: absolute;
            left:0;
            width:100%;
            height: 1px;
            background: #fff;
            transition-duration: 0.3s;
        }

        &::before{
            top: $navbar-height * 0.12;
            transition-property: top, transform;
        }

        &::after{
            bottom: $navbar-height * 0.12;
            transition-property: bottom, transform;
        }
    }

    /*
        Mobile menu open state
    */

    .global-nav{
        position: absolute;
        top: 115px;
        right:0;
        left:0;
        z-index: 9999;
        height: 0;
        overflow: hidden;
        transition: height .35s ease-out;
    }

    .navbar.open {
        .global-nav{
            overflow: hidden;
            overflow-y:auto;
            height: calc(100% - #{$navbar-height});
            -webkit-overflow-scrolling:touch;
        }
        .navbar-menu {
            transform: none;
            opacity: 1;
        }

        // Burger becomes a cross
        .navbar-burger{
            background:none;
            &::before{
                top:0;
                transform:rotate(45deg);
            }

            &::after{
                bottom:0;
                transform:rotate(-45deg);
            }
        }
    }

}

@media #{$medium-up} {
    .navbar {
        height: 100px;
        flex-wrap: wrap;
    }

    // Containing element for middle part of navbar
    .global-nav{
        width:100%;
        height:50px;
        flex-shrink: 0;
        background-color: $body-background-color;

        a {
            color: white;
            text-shadow: none;
        }

        .navbar-menu-item-selected a {
            color: $red;
        }
    }

    .navbar-menu{
        padding:0;
        margin:0;
        background-color: black;
    }

    .navbar-menu-button,
    .navbar-search-button,
    .navbar-search-close {
        display: none;
    }

    .flex-wrapper {
      flex-grow: 1;
    }

    .navbar-profile-menu-button {
      display: block;
      position: relative;
      flex-grow: 0;
      width:$navbar-height;
      height:$navbar-height;
      cursor:pointer;
      z-index: 100;
    
      .navbar-burger{
        // Middle bar
        position: absolute;
        left:15px;
        right:15px;
        top: $navbar-height / 2 - 1px;
        height:1px;
        background: #fff;
        transition: background .3s;

        // Top and bottom bars via pseudo elements
        &::before, &::after{
            content: '';
            position: absolute;
            left:0;
            width:100%;
            height: 1px;
            background: #fff;
            transition-duration: 0.3s;
        }

        &::before{
            top: $navbar-height * 0.12;
            transition-property: top, transform;
        }

        &::after{
            bottom: $navbar-height * 0.12;
            transition-property: bottom, transform;
        }

        
      }
      &:hover {
          .profile-menu {
            display: block;
            opacity: 1;
            transition: 0.5s opacity;
          }
        }
    }

    .profile-menu {
      display: none;
      position: absolute;
      width: 18em;
      background: white;
      top: 4em;
      left: -100%;
      text-align: left;
      color: black;
      z-index: 1;
      opacity: 0;
      transition: .5s opacity;
      ul {
        margin: 0;
        padding: 0.2em 0 0 0;
        li {
          display: block;
          padding: 0 1em;
          line-height: 3em;
          width: 100%;
          a {
            font-weight: 300;
            text-shadow: none;
            display: block;
            width: 100%;
            height: 100%;
          }
        }
        li:hover {
          background-color: #eaeaea;
          a {
            font-weight: 500;
          }
        }
      }
    }

    .profile-menu::before {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 0 12px 13px;
      border-color: #FFFFFF transparent;
      display: block;
      width: 0;
      z-index: 0;
      top: -10px;
      left: 5.3em;
    }

    .navbar-menu-item{
         display: inline-block;
    }

    .navbar-menu-item-selected {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            height: 3px;
            background-color: $red;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    .navbar-menu-link{
        padding: 0 .6em;
        margin: 0 .6em;
    }
}

.navbar-menu-link{
    display: block;
}

/*
----------------------------
    Various icons
----------------------------
*/

.navbar-logo{
    text-align: center;
    flex-grow: 1;
    flex-shrink: 0;
    height: $navbar-height;

    @media #{$medium-up} {
        padding: 0 20px;
        flex-grow: 0;
    }
}

.svg-logo{
    margin: 0 0 0 10px;
    height: 60px;
    width: 140px;
}

.navbar-wishcart {
    display: none;
    width: 120px;
    height: $navbar-height;
}

.navbar-sms-link {
    display: none;
    height: $navbar-height;
    position: relative;
    overflow-y: hidden;
    padding: 0 1em;

    .sms-popover-trigger {
        margin-left: .5em;
    }

    .navbar-sms-title {
        font-size: .8em;
        margin: 5px auto 0 auto;
        text-align: left;
        display: inline-block;
    }

    .navbar-sms-input {
        display: block;
        height: 40px;
        border-radius: 0;
        background-color: rgba(0, 0, 0, .8);
        border: 1px solid rgba(255, 255, 255, .5);
        outline: none;
        padding: 0 1em;
        line-height: 2em;
        color: white;
        width: calc(100% - 60px);
    }

    .navbar-sms-submit {
        background-color: $red;
        display: block;
        border-radius: 0;
        height: 40px;
        width: 60px;
        outline: none;
        border: none;
        cursor: pointer;
        color: white;
        &:hover {
            border: white;
            background-color: white;
            color: $text-color;
        }
    }

    &.send-link {
        .sms-link-trigger-container {
            transform: translateY(-$navbar-height);
            opacity: 0;
        }

        .navbar-sms-form {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.navbar-sms-form {
    position: absolute;
    height: 40px;
    top: 10px;
    left: 0;
    padding: 0 1em;
    display: flex;
    transform: translateY($navbar-height);
    opacity: 0;
    transition: .3s transform, .3s opacity;
    will-change: transform, opacity;
}

.navbar-menu-item .navbar-wishcart {
    display: block;
    width: 100%;
    height: auto;
}

.svg-wishcart {
    display: inline-block;
    width: 27px;
    height: 27px;
    top: -2px;
    position: relative;
    fill: white;
}

#svg-wishcart-heart {
    fill: $red;
}

.navbar-user-area{
    display: block;
    height:$navbar-height;
}

.navbar-user{
    display: block;
    padding: 0 ($navbar-height - 26px) / 2 0 (($navbar-height - 26px) / 2 + 30px);
    position: relative;
    height: 100%;
    img{
        border-radius: 50%;
        border: 2px solid #fff;
        width:26px;
        height:26px;
        top: ($navbar-height - 26px) / 2;
        left: ($navbar-height - 26px) / 2;
        display: inline-block;
        position: absolute;
    }
}

.navbar-username{
    display: none;
    padding-right:15px;

    @media #{$large-up} {
        display: inline;
    }
}

.no-touch .navbar-user:hover{
    color:$red;
}

.navbar-profile-menu-button {
}

/*
----------------------------
    Search field
----------------------------
*/

.navbar-search-button{
    // Icon is hidden for small devices
    //display: inline-block;
    cursor: pointer;
    width:$navbar-height;
    height:$navbar-height;
    &:active.svg-search{
        fill:$red;
    }
}

.no-touch .navbar-search-button:hover .svg-search {
    fill: $red;
}

.svg-search{

    display: inline-block;
    line-height:16px;
    position: relative;
    top:3px;

    width:20px;
    height:20px;

    fill:#fff;
}


/*
----------------------------
    Search Active State
----------------------------
*/

.navbar-search-form{
    flex-grow: 7;
}

.navbar-search-field{
    display: block;
    position: relative;
}

input.navbar-search-input{

    display: inline-block;
    width:100%;
    border:none;
    background:transparent;
    outline:none;
     -webkit-appearance: none;
     border-radius: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 15px;
    color: #fff;

    padding-left: 25px;

}

.navbar-search-input-icon{
    position: absolute;
    pointer-events: none;
    top:0;
    left:0;
}

.navbar-search-close{
    cursor: pointer;
    position: absolute;
    top:15px;
    right:0;
    width:20px;
    height:20px;
    background:none;

    &::before, &::after{
        content: '';
        height:1px;
        left:0;

        width:100%;
        position: absolute;
        background:#fff;
    }

    &::before{
        top:10px;
        transform:rotate(45deg);
    }

    &::after{
        bottom:9px;
        transform:rotate(-45deg);
    }

}


@media #{$small-only} {
    
  .svg-logo {
    margin: 0;
  }

    .navbar-search-button {
      position: absolute;
      right: 40px;
      top: 2px;
    }




    .navbar-search-input{
        border-bottom: 1px solid rgba(255,255,255,.2);
        padding-bottom:15px;
    }

    .navbar-user-area {
      right: 0px;
      position: absolute;
    }


    .navbar-search-close{
        background: #444;
        border-radius:50%;
        &::before, &::after{
            background: rgba(255,255,255,.8);
            width:10px;
            left:5px;
        }
    }
}

@media #{$medium-up} {
    .navbar-menu-section.navbar-logo {
        border-left: none;
    }

    .navbar-search-form{
        padding: 0 10px;
        position: relative;
    }

    .navbar-search-input-icon {
        background: #e52d27;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        position: absolute;
        width: 40px;
        height: 40px;
        top: 10px;
        right: 0px;
        left: auto;
        display: block;
        cursor: pointer;
        pointer-events: auto;
        .svg-search {
            top: 10px;
            left: 10px;
            display: block;
        }

        &:active {
            background-color: $light-grey;
        }
    }

    .no-touch .navbar-search-input-icon:hover {
        background-color: $light-grey;
    }

    .navbar-wishcart {
        display: block;
    }

    .no-touch .navbar-wishcart:hover {
        color: $red;
    }

}

@media #{$large-up} {
    .navbar-username {
        margin-left: .3em;
        display: inline;
    }

    .navbar-wishcart {
        width: auto;
        padding: 0 20px;
    }

    .navbar-sms-link {
        display: block;
    }
}
