.feed-container {
    left: 0;
    position: relative;
    width: 100%;
    height: calc(100vh - #{$navbar-height + 45px});
    overflow-x: hidden;

    &.newsfeed-active {
        .newsfeed-container {
            transform: translateX(0);
        }

        .friendfeed-container {
            transform: translateX(100%);
        }
    }

    &.friendfeed-active {
        .newsfeed-container {
            transform: translateX(-100%);
        }

        .friendfeed-container {
            transform: translateX(0);
        }
    }
}

.newsfeed-container, .friendfeed-container {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: calc(100vh - #{$navbar-height + 45px});

    transition: transform .3s ease-in-out;
}

.friendfeed-container {
    .card-thumblist {
        margin-bottom: 0;
    }
}

@media #{$medium-up} {
    .newsfeed-wrapper .segmented-control {
        display: none;
    }

    .newsfeed-container, .friendfeed-container {
        height: 100%;
        overflow-y: visible;
    }

    .feed-container {
        height: auto;
    }

    .feed-container {
        display: flex;
        justify-content: space-between;

        &.newsfeed-active, &.friendfeed-active {
            .friendfeed-container, .newsfeed-container {
                transform: none;
            }
        }
    }

    .friendfeed-container, .newsfeed-container {
        position: relative;
        .card-feed-inner {
            max-width: 100%;
        }
    }

    .friendfeed-container {
        width: 30%;
        padding: 0 1em;
        border-left: 1px solid $light-grey;

        .card-header {
            font-size: 12px;
        }
    }

    .newsfeed-container {
        width: 70%;
    }
}

@media #{$large-up} {
    .newsfeed-container {
        width: 76%;
        flex: 1;

        .card-feed-inner {
            max-width: 800px;
        }

        .card {
            margin: 0 auto 50px auto;
        }
    }

    .friendfeed-container {
        padding: 0 1.5em;
        width: 24%;
        max-width: 300px;
    }
}