/*
// Product Finder css
//
// TODO Move parts to relevant components
*/

// Main Layout

.redesign{
    background-color:white !important;
}

.parentcategory{
    opacity: 0;
}

.sort-filter{

 padding:5px;
    margin: 0;
    //box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    outline:none;
    display: inline-block;
    appearance:none;
    cursor:pointer;
    font-size: 17px;
    font-family: Helvetica;
    /* Sort By Dropdown: */
    background: #FFFFFF;
    border: 1px solid #9B9B9B;
    border-radius: 8px;


  //background: url(https://cdn0.iconfinder.com/data/icons/solid-line-essential-ui-icon-set/512/essential_set_right-128.png) 96% / 15% no-repeat #eee;


}

.before-sort{
    font-size:17px;
    font-family: Helvetica;
}

.filter-container{
    background-color: blue;
}
.category-input{}

.products-container {
    display: flex;
    margin: 0 auto;
    padding: 0;

}
.reset-filter-button{
    font-family: Helvetica;
    font-style: oblique;
    text-decoration: underline;
    color:black;

}

.products-nav {
    margin: 0;

    .sort, .pagination {
        float: right;
    }
    .per-page, .sort, .pagination {
        display: none;
    }
}
.js-total-products {
    transition: 0.25s ease-in-out;
}
.product-content {
    width: 100%;
}

// Filters & sorting
.product-filters, .product-sort {
    display: none;
    width: 100%;
}
.product-sort {
    .option.selected, .option:hover {
        font-weight: 500;
        cursor: pointer;
    }
}
.filter {
    background: white;
    padding: 15px 20px;
    margin-bottom: 1px;

    h3 {
        border-bottom: .5px solid black;
        padding-bottom: 4px;
        font-family: Helvetica;
        cursor: pointer;
        margin-bottom: 4px;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 14px;


        &:after {
            content: '-';
            float: right;
        }
    }
    .option {
        padding-top: 1px;
        display: block;
        font-family: Helvetica;
        font-size: 13px;
        color: #000000;
        letter-spacing: 0;
        font-weight: 100;
        text-transform: uppercase;
        &:hover{
            color: #e44141;
        }
    }
    .option1 {
        padding-top: 1px;
        display: block;
        font-family: Helvetica;
        font-size: 13px;
        color: #000000;
        letter-spacing: 0;
        font-weight: 100;
        text-transform: uppercase;

    }

    ul ul {
        padding-left: 20px;
        display: none;
    }
    ul li.selected > ul {
        display: block;
    }

    &.closed {
        h3 {
            border-bottom: none;
            padding-bottom: 0;

            &:after {
                content: '+';
            }
        }
        .option, .form-input-group, .btn {
            display: none;
        }
    }
    &.filter-grey {
        background: transparent;
    }
    .swatch {
        display: inline-block;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        margin: 0 6px;
    }
    .color_beige { background-color: #E3A869; }
    .color_black { background-color: black; }
    .color_blue { background-color: #6666FF; }
    .color_brown { background-color: #8B4513; }
    .color_gold { background-color: #ffd700; }
    .color_grey { background-color: $light-grey; }
    .color_green { background-color: $green; }
    .color_multicolour {
        background-image: linear-gradient(to top, red, orange, yellow, green, blue, indigo, violet);
    }
    .color_orange { background-color: #ff8c00; }
    .color_pink { background-color: #ff1493; }
    .color_purple { background-color: #a020f0; }
    .color_red { background-color: $red; }
    .color_silver { background-color: #C0C0C0; }
    .color_white { background-color: white; border: 1px solid $light-grey; }
    .color_yellow { background-color: #ffff00; }

    .svg-cross {
        width: 12px;
        height: 12px;
        fill: $text-color;
    }
    .svg-sort, .svg-filter {
        width: 20px;
        height: 20px;
        fill: $text-color;
        margin: -5px 5px 0 0;
        transform: translate(0%, 20%) rotate(0deg);
    }
}
.button-holder {
    display: flex;
    justify-content: space-between;
}
.back-to-top {
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;

    span {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: white;
        display: inline-block;
        border: 1px solid $light-grey;
        position: relative;
        top: -2px;
        margin-right: 0.5em;
        text-align: center;
    }
    .svg-arrow-top {
        top: 4px;
    }
}

// Cards
.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;



    .card {
        flex-grow: 0;
        margin: 0 0 1em 4px;
        position: relative;
    }
    .card-img {
        margin-top: 0;
    }
    .card-body {
        min-height: 60px;
        margin: 1em;
        margin-bottom: 5em;
    }
    .new-card-body{
        //display: grid;
        margin-top: 4%;
        //grid-template-columns: 1fr;
        //grid-template-areas: "header"
        //"middle"
        //"bottom";


    }
    .product-brand-header{
        grid-area: header;
        color: black;
        text-transform: uppercase;
        font-weight: 500;
        font-family: Helvetica, Arial, sans-serif;


    }
    .product-name-middle{
        grid-area:middle;
        color: black;
        font-weight: 300;
        font-family: Helvetica, Arial, sans-serif;

    }
    .product-url-bottom{
        grid-area:bottom;
        color: black;
        font-weight: 300;
        font-family: Helvetica, Arial, sans-serif;

    }
    .card-footer {
        justify-content: space-between;
        display: flex;
        margin: 1em;
        font-size: 80%;
        position: absolute;
        bottom: 3em;
        left: 0;
        right: 0;
    }
    .text-header {
        font-size: 1rem;
        font-weight: 500;
        color: black;
    }
    .text-link {
        color: $light-grey;
    }
    .product-category {
        text-transform: uppercase;
        font-weight: 500;
        color: $light-grey;
        padding-top: 4px;
    }

    img {
        // This class gets added to img prior loading an image - and removed onload
        transition: opacity 0.25s ease-in-out;
        &.unresolved{
           opacity: 0;
        }
    }

    .card {
        position: relative;
        padding-bottom: 28px;

        // Product card button overrides
        .btn-fullwidth {
            background-color: $dark-grey;
            box-shadow: none;
            top: auto;
            position: absolute;
            bottom: 0;

            &.btn-sale {
                background-color: $red;
            }

            &:active {
                top: auto;
            }
        }
        .hover-img {
            display: none;
        }
    }

    .btn-text {
        color: $text-color;
        text-transform: uppercase;
        font-weight: 600;
        display: none;
    }
    // Needed until the return value for clicked wishlist buttons is fixed
    .closet-button {
        color: $text-color;
        text-transform: uppercase;
        font-weight: 600;
        display: none;
        line-height: 19px;
        min-width: 90px;
        vertical-align: middle;
        background: none;
        border: 2px solid $text-color;
        outline: none;
        padding: 5px 10px;
        margin: 0;
        cursor: pointer;
        font-size: 100%;
    }
    .svg-wishcart {
        width: 16px;
        height: 16px;
        top: 3px;
        fill: $text-color;
    }

    .closet-button .icon {
      float: left;
      margin-right: 5px;
    }

    .closet-button.button-success {
      color: white;
      background-color: $green;
      border-color: $green;
    }
}
.no-results {
    padding: 0 0 0 20px;
    font-size: 1rem;
}
.no-touch {
    .product-cards {
        .text-header:hover {
            color: $red;
        }
        .text-link:hover {
            color: $red;
        }
    }

    .card a.btn {
        &:focus{
            background-color: $dark-grey;
            outline: 0;
        }
    }
}

// Pagination
.svg-arrow-right, .svg-arrow-left, .svg-arrow-top {
    width: 13px;
    height: 13px;
    top: 2px;
    position: relative;
    fill: $red;
}
.svg-arrow-right1{
    width: 13px;
    height: 13px;
    top: 2px;
    position: relative;
    fill: black;
        transform: rotate(180deg);

}
.svg-arrow-right {
    transform: rotate(180deg);
}
.svg-arrow-top {
    transform: rotate(90deg);
}

.pagination-mobile {
    display: inline-block;
    background-color: $red;
    border-radius: 25px;
    color: white;
    font-weight: 500;

    .svg-arrow-right, .svg-arrow-left {
        width: 10px;
        height: 10px;
        top: -1px;
        left: 3px;
    }
    .svg-arrow-right {
        left: 5px;
    }
    .current {
        padding: 0 1em;
    }

    a {
        display: inline-block;
        padding: 0.5em 1em;

        span {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: white;
            display: block;
            text-align: left;
        }
    }
}



.pagination {
    padding-left: 0;
    margin: 0;
    font-size: 13px;

    > li {
        display: inline; // Remove list-style and block-level defaults
        > a, > span {
            position: relative;
            float: left; // Collapse white-space
            padding: 6px 12px;
            text-decoration: none;
            background-color: white;
            border: 1px solid $lighter-grey;
            margin-left: -1px;
        }
        &:first-child {
            > a, > span {
                margin-left: 0;
            }
        }
    }

    > li > a, > li > span {
        &:hover, &:focus {
            z-index: 2;
            color: white;
            background-color: $text-color;
        }
    }

    > .active > a, > .active > span {
        &, &:hover, &:focus {
            z-index: 3;
            font-weight: 600;
            cursor: default;
        }
    }

    > .disabled {
        > span, > span:hover, > span:focus, > a, > a:hover, > a:focus {
            cursor: not-allowed;
            pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
        }
        .svg-arrow-right, .svg-arrow-left {
            fill: $light-grey;
        }
    }
}

.per-page {
    font-weight: 500;

    span {
        font-weight: normal;
        color: $light-grey;
        cursor: pointer;
        margin-left: 0.5em;

        &.selected {
            color: $text-color;
            cursor: default;
        }
    }
}

// Loader
.loader {
    margin-bottom: 20px;

    &.hidden {
        display: none;
    }
}

/*@media (min-width: 0) and (max-width: 500px) {
    .product-cards {
        .card {
            width: calc(50% - 4px);
        }
    }
}*/

@media #{$small-only} {
    .product-cards {
        margin-left: -4px;
        .card {
            width: calc(33% - 3px);
        }
    }
    .open-filters {
        .product-filters {
            display: block;
        }
        .product-content {
            display: none;
        }
    }
    .open-sort {
        .product-sort {
            display: block;
        }
        .product-content {
            display: none;
        }
    }

    // Transform clear button into text link
    .clear-filters {
        background: none;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        .svg-cross {
            display: none;
        }
    }
    .no-touch {
        a.clear-filters  {
            &:hover, &:focus{
                background: none;
            }
        }
    }
    .products-nav {
        &.bottom {
            text-align: center;
        }
        .back-to-top {
            margin: 2em 0;
            display: block;
        }
    }
}

// Special media queries for the grid
@media (min-width: 150px) and (max-width: 500px) {
    .product-cards {
        .card {
            width: calc(50% - 4px);
        }
    }
}

// Special media queries for the grid
@media (min-width: 0) and (max-width: 149px) {
    .product-cards {
        .card {
            width: calc(100%);
        }
    }
}

@media #{$medium-up} {
    .no-touch .product-cards .card:hover {
        //transform-origin: center center;
        //transform: translateZ(0) scale(1.1);
        //box-shadow: 0px 0 20px rgba(0,0,0,.2);
        z-index: 2;

        .main-img {
            display: none;
        }
        .hover-img {
            display: block;
        }
    }


    .product-cards .card {
        width: calc(33% - 15px);
        margin-left: 15px;
        /*flex-grow: 0;*/
        .btn-text, .closet-button {
            display: inline-block;
        }
    }
    .filter {
        margin-bottom: 9px;
        padding: 15px 9px;

        .clear-filters {
            float: none;
            width: 100%;
        }
    }
    .product-filters {
        display: block;
    }
    .product-content {

        .products-nav {
            padding-left: 15px;
        }
    }
    .products-nav {
        margin: 10px 0 20px 0;

        .per-page, .sort, .pagination {
            display: inline-block;
            select {
                width: auto;
            }
        }
        .pagination-mobile {
            display: none;
        }
    }
}

@media #{$large-up} {
    .products-container {
        max-width: 1100px;
        padding: 30px;

    }
    .product-filters {
        max-width: 240px;
        margin-left: 5%;
        border: 1px solid #000;
        height:100%;
    }
    .product-content {
        max-width: 800px;
    }
    .product-cards .card {
        width: calc(25% - 15px);
        max-width: 185px;
    }

    .filter {
        &.color {
            overflow: auto;

            label {
                min-width: 50%;
                //float: left;
            }
        }
    }
}

@media #{$xlarge-up} {
    .products-container {
        min-width: 1280px;
        max-width: 1440px;
    }
    .product-filters {
        //max-width: 330px;
    }
    .product-content {
        max-width: 1040px;
        margin-left: 10px;

        .products-nav {
            padding-left: 20px;
        }
    }
    .product-cards .card {
        //width: calc(25% - 20px);
        //max-width: 240px;
        //margin-left: 20px;
        width: calc(100% - 20px);
        max-width: 220px;
        margin-left: 50px;
        margin-bottom: 5em;
        border: none !important;
    }
}
