/* General prompt, similar to the redesign titlebanner */
.prompt {
    background-color: white;
    text-shadow: none;

    &.hidden {
        visibility: hidden;
        height: 0;
    }

    h1 {
        color: $red;
        font-size: 1.25rem;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 1.3;
        margin: .67em 0;
    }
    p {
        font-size: .875rem;
        color: #444; // $text-color
        margin: 1em 0;
    }
    button {
        color: #444; // $text-color
        outline: none;
    }

    .svg-cross {
        width: 18px;
        height: 30px;
        cursor: pointer;
    }
}

.close-prompt {
    background: none;
    border: none;
    font-size: 1.3em;
    position: absolute;
    right: 0;
    top: 0;
    padding: .2em;
    width: 35px;
    height: 35px;
    line-height: 35px;
}

.no-touch .close-prompt {
    &:hover, &:active {
        background: none;
        border: none;
    }
}

.prompt-inner {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
}

@media #{$small-only} {
    .prompt-inner {
        background-size: auto 80%;
        max-width: 400px;
    }
}

/* Share prompt */
.share-prompt {
    text-align: center;

    .share-options {
        justify-content: center;

        display: flex;
        .share-option {
            width: 2.05em;
            height: 2em;
            font-size: .8em;
            text-align: center;
            margin-right: .6em;
            border-radius: .3em;
            color: white;
            &:last-child {
                margin: 0;
            }

            &.requires-bg {
                background-color: #202023; // $appearance-black;
            }
        }
    }
}

/* 'Get the app' banner */
.get-app-banner {
     background: #e52d27;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .ios-app-store-btn {
        margin: 1em auto 0 auto;
        width:124px;
        height:38px;
        background-size: 124px 38px;
    }
    .prompt-inner {
        background-image: url('/static/img/get_app_hand.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: auto 90%;
        position: relative;
        max-width: 600px;
        margin: 0 auto;
        padding: 1em;
    }
    h1 {
        text-transform: uppercase;
        font-weight: 700;
        width: 55%;
        text-align: center;
        font-size: 1.6em;
        margin: .5em 0;
        color: white;
    }
    p {
        font-size: 1.1em;
        line-height: 1.2;
        text-align: center;
        margin: .3em 0;
        width: 55%;
    }
}

@media #{$medium-up} {
    .get-app-banner {
        margin-bottom: .5em;
        h1 {
            font-size: 2.3em;
            width: 70%;
        }
        p {
            font-size: 1.4em;
            width: 70%;
        }
    }
}

@media #{$large-up} {
    .get-app-banner {
        h1 {
            font-size: 2.3em;
            width: 80%;
        }

        p {
            font-size: 1.4em;
            width: 80%;
        }
    }
}
