

.navbar-search-results{
    display: none;
    text-align: left;

    border-top:1px solid rgba(100,100,100,.2);
    border-bottom:1px solid rgba(100,100,100,.2);

    @media #{$small-only} {
        background: $dark-grey;
        position: absolute;
        left:0;
        right:0;
        top:$navbar-height;
        bottom:0;
        padding:0 5px 0 10px;
        overflow-y: scroll;
        -webkit-overflow-scrolling:touch;
    }


    @media #{$medium-up} {
        position: absolute;
        top: $navbar-height;
        left: 0;
        border:none;
        width: 100%;
        z-index: 9999;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    &.open{
        display: block;
    }
}

#username-search-results{
	display: none;
	background: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	margin-bottom: 5px;
	
	&.open{
        display: block;
    }
}

.search-result{
    display: block;
}

.search-result-link{
    position: relative;
    display: block;
    padding: 0 0 0 70px;
    color: #fff;
    .text-highlighted{
        font-weight: 500;
    }

    img{
        width:30px;
        height:30px;
        border-radius:50%;
        position: absolute;
        left: 20px;
        top: 10px;
    }


    @media #{$medium-up} {
        color: #777;

        .text-highlighted{
            color: #222;
        }
    }
}

.username-result-ul{
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.username-result-link{
    display: block;
	cursor: pointer; cursor: hand;
	padding: 3px 20px;
	
    .text-highlighted{
		font-weight: 500;
		color: #222;
    }

    img{
        width:30px;
        height:30px;
        border-radius:50%;
    }


    @media #{$medium-up} {
        color: #777;

        .text-highlighted{
            color: #222;
        }
    }
}

.username-hover, .username-result-link:hover{
	background-color: #F0F0F0;
} 

.result-meta{

    display: none;

    @media #{$medium-up} {
        font-size:12px;
        color:#999;
    }

}

.result-type{
    font-size:13px;
    margin-right:20px;
    float: right;
    color: #999;
}

.search-view-all{
    background:lighten($dark-grey, 10%);//background:$dark-grey;
    background: rgba(100,100,100,.15);
    display: block;
    color: #777;
    padding-left:20px;
}

.no-touch{

    .search-result-link:hover, .search-result-link:focus{
        outline:none;
        background: rgba(100,100,100,.1);
        color: #777;
    }

    .search-view-all:hover, .search-view-all:focus{
        color: #444;
        background: rgba(100,100,100,.2);
    }

}