.segmented-control {
    margin-top: 10px;
    height: 45px;
    display: flex;
    width: 100%;
    background-color: white;
}

.segmented-control-option {
    flex: 1;
    background: none;
    outline: none;
    border: none;
    position: relative;
    flex-grow: 1;
    font-size: 18px;
    font-size: 1.125rem;
    color: $red;
    height: 100%;
    padding: 0;
    margin: 0;

    &:after {
        transition: height .3s ease-in-out;
        display: block;
        width: 100%;
        height: 0px;
        position: absolute;
        bottom: 0;
        background-color: $red;
        content:"";
    }

    &.active:after {
        height: 4px;
    }
}