.tabbar{
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    text-align: center;
}

.tabbar-list{
    margin: 0 auto;
    max-width:1000px;
}

.tabbar-item{
    display: inline-block;
}

.tabbar-link{
    display:block;
    padding: 1em;
    color: $text-color;

    border-bottom: 3px solid transparent;
    transition: border-color .075s linear;

    &:hover{    border-bottom: 3px solid #e5e5e5;}
    &:active, &.active{   border-bottom: 3px solid $red; }
}
