.titlebanner {
    background-color: white;
    padding: 1rem;
}

.titlebanner-title {
    color: $red;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.titlebanner-body {
    font-size: .875rem;
    color: $text-color;
}