@import "reset";

$bravo-blue: #21c7e3;
$bravo-text: #222;

$wide: 718px;

$aspect-frame: percentage(9/16);
$aspect-image: percentage(600/900);

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    height:100%;
    color:$bravo-text;
    background: #fff;
    line-height: 1.3;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: $bravo-blue;
    &:hover{
        text-decoration: underline;
    }
}

img{
    max-width:100%;

}

.frame{
    /* Maintain constant 16:9 aspect ratio */
    position: relative;
    //background: #333;
    padding-top:$aspect-frame;
    overflow: hidden;
    max-width:750px;
    margin: 0 auto;
}

.frame-inner{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
}

.scene-image{
    //background: #ededed;
    position: absolute;
    left:0;
    top:0;
    width:38%;
    height:auto;

    img{
        float:left;
        height:100%;
        width:100%;
    }
}

.scene-content{
    position: absolute;
    left:38%;
    padding-left:.5em;
    top:0;
    bottom:0;
    right:0;
}
.products-only .scene-content{
    left:0;
}
.scene-meta{
    display: none;
}

.scene-meta{
    font-size:12px;
    padding: 0 0 0 5em;
    margin:.5em 0 1em 0;
}

.subject-avatar{
    position: absolute;
    top:.5em;
    left:1em;
    float:left;
    border-radius: 100%;
    height:4em;
}

.subject-name{
    font-weight: bold;
}
.scene-date{
    color: #666;
}


.scene-products{
    font-size:12px;
}



/*
--------------------
    Product list
*/

.product-item{
    font-size: 1em;
    display: block;
    clear: both;
    padding: .5em 0 0 3.5em;
    //height:7em;
    position: relative;
    //border-bottom: 1px solid rgba(40,40,40,.1);
}
.product-image{
    position: absolute;
    left:0;
    top:.5em;
    width:3em;
    height:3em;
}



.product-hdr{
    display:none;
}

.product-name{

}

.product-brand{
    display:block;
    font-weight:bold;
}




@media only screen and (min-width: 450px) {

    .scene-content{
        padding-left:1em;
    }
    .product-item{
        font-size: 1em;
        display: block;
        clear: both;
        padding: .5em 0 0 7em;
        height:7em;
        position: relative;
        border-bottom: 1px solid rgba(40,40,40,.1);
    }
    .product-image{
        position: absolute;
        left:0;
        top:.5em;
        width:6em;
        height:6em;
    }

    .product-price{
        display: block;
        padding-top:.1em;
        font-size: 1.1em;
    }

}



@media only screen and (min-width: 590px) {
    .scene-meta{
        display: block;
    }
    .product-hdr{
        display:block;
        background:  rgba(80,80,80,.05);
        padding:.4em .2em .2em .2em;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
        color:#666;
    }

}
@media only screen and (min-width: 735px) {

    .scene-products{
        font-size:15px;
    }
    .scene-meta{
        font-size:14px;
    }


}
