

/*
----------------------------
    Link behaviour
----------------------------
*/

a{
    text-decoration: none;
    color:inherit;
}

.text-link{
    text-decoration: none;
    //font-weight: 500;
    color: $red;

}
.no-touch .text-link:hover{
    color: darken($red, 20);
}


img{
    max-width: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


// Allow for overriding of fill color
.svg-icon path{
    fill:inherit;
}

/*
----------------------------
    Typography modifiers
----------------------------
*/

.strong{
    font-weight: bold;
}

.text-center{
    text-align: center;
}

.fineprint {
    font-size: 12px;
}

/*
----------------------------
    Utility classes
----------------------------
*/


/* Clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

html.no-scroll{
    overflow: hidden !important;
    overflow-y: scroll !important;
    height: 100% !important;

    body{
        overflow: hidden !important;
        height: 100%;
    }
}

#__bs_notify__ {
    bottom: 0 !important;
    top: auto !important;
    left: 0 !important;
    right: auto !important;
}
