/*
----------------------------------------------------
    Configuration we need across files.
    Don't litter with module specific  stuff
-----------------------------------------------------
*/
// Colors
$red: #e44141;
$body-background-color: #eee;
$text-color: #444;
$dark-grey: #252525;
$black: #000000;

//$light-grey: #B4B4B4;
//$lighter-grey: #F5F5F5;
$light-grey: #979797;
$lighter-grey: #E1E1E1;

$facebook-blue: #3B5998;
$green: #3F9A45;

$success-color: #2b542b;
$success-color-bright: lighten($success-color, 35%);
$error-color: #843534;
$error-color-bright: lighten($error-color, 20%);

$font-family: -apple-system, 'Roboto', 'Helvetica Neue', Arial, sans-serif;

$navbar-height:60px;
