/* Styles needed for pages that contain both redesign.css and styles.css */

.redesign{
    text-shadow: none;
    padding-top:3.125rem;
    @media #{$medium-up} {
        padding-top: 110px;
    }
}
a{
    color:inherit;
}
.tabbar{
    // margin-top:3.125rem;
}

.menu-item a{
    font-weight: 400;
}
.navbar-search-results ul{
    margin:0;
    padding: 0;
}
.navbar-search-results{
    text-shadow: none;
}

input.navbar-search-input, input.navbar-search-input:hover, input.navbar-search-input:active{
    display: inline-block;
    border-radius: 0 ;
    border:none;
    background: none;
    font-weight: 400;

    @media #{$medium-up} {
        background-color: $body-background-color;
        height: 40px;
        display: block;
        position: absolute;
        top:10px;
        left:0;
        right: 40px;
        width: calc(100% - 40px);

        color: $text-color;
        &::placeholder {
            color: $light-grey;
        }
    }
}

.navbar-logo img {
    margin: 0 0 0 10px;
    height: 60px;
    width: 140px;
}
