body {
	margin: 0;
    background: black;
    width: 100%;
    height: 100%;
    padding-top:60px !important;
}

@media (min-width: 760px) {
    body {
        padding-top: 110px !important;
    }
}

.trigger-new-md5{
    color:#333;
}

.noscroll {
    overflow: hidden;

    // if the topbar had a hidden backface the body (and html) can still scroll.....
    .topbar {
        backface-visibility: visible;
        z-index: 2;
    }
}

#flDebug{
    text-shadow:none;
}


