$appearance-black: #202023;
$appearance-white: #000000;
$appearance-grey: #9B9B9B;
$appearance-border-color: #E0DEDE;

$red: #d84a4a;
$green: #079563;
$bright-red: saturate($red, 20%);

$body-bg: #eee;

$trans-white-1:  transparentize(white, 0.1);
$trans-white-2:  transparentize(white, 0.2);
$trans-white-3:  transparentize(white, 0.3);
$trans-white-4:  transparentize(white, 0.4);
$trans-white-5:  transparentize(white, 0.6);
$trans-white-6:  transparentize(white, 0.6);
$trans-white-7:  transparentize(white, 0.7);
$trans-white-8:  transparentize(white, 0.8);
$trans-white-9:  transparentize(white, 0.9);
$trans-white-10: transparentize(white, 1);
$trans-white: $trans-white-5;

$trans-black-1:  transparentize(black, 0.1);
$trans-black-2:  transparentize(black, 0.2);
$trans-black-3:  transparentize(black, 0.3);
$trans-black-4:  transparentize(black, 0.4);
$trans-black-5:  transparentize(black, 0.6);
$trans-black-6:  transparentize(black, 0.6);
$trans-black-7:  transparentize(black, 0.7);
$trans-black-8:  transparentize(black, 0.8);
$trans-black-9:  transparentize(black, 0.9);
$trans-black-10: transparentize(black, 1);
$trans-black: $trans-black-5;

$button-text: white;
$button-bg: $trans-black-5;
$button-border: $trans-white-5;
$button-border-hover: white;

$success-color: #2b542b;
$success-color-bright: lighten($success-color, 35%);
$error-color: #843534;
$error-color-bright: lighten($error-color, 20%);

$mobile_breakpoint: 640px;
$tablet_breakpoint: 740px;
$desktop_breakpoint: 1024px;
$large_desktop_breakpoint: 1280px;
$gerb_desktop_breakpoint: 1900px;

$facebook-blue: #3b5998;
$twitter-blue: #00aced;
$googleplus-red: #dd4b39;
$youtube-red: #bb0000;
$linkedin-blue: #007bb6;
$instagram-blue: #517fa4;
$pinterest-red: #cb2027;
$vine-green: #00bf8f;
$snapchat-yellow: #fffc00;
$quora-burgundy: #a82400;
$flickr-pink: #ff0084;
$tumblr-turquoise: #32506d;
$vk-blue: #45668e;
$vimeo-green: #aad450;
$foursquare-blue: #0072b1;
