@import "styles";

body{
    padding-top:0;
    overflow:hidden;
}
.appearance-top-inner {
    max-width:900px !important;
    font-size:14px;
}

$nav-arrow-width: 40px;
$nav-arrow-height: 60px;
@media #{$medium-up} {
    .no-touch .appearance-top-area {
        padding-top: rem-calc(60);
    }
    .appearance-bottom-inner, .appearance-top-inner {
        max-width: 1250px;
        position: relative;
    }

    .appearance-arrow-nav {
        max-width: none;
        .button {
            width: $nav-arrow-width;
            height: $nav-arrow-height;
            top: calc(50% - 80px);
            font-size: 2.5em;
            background: none;
            color: $appearance-border-color;
            &:hover {
                background: none;
            }
        }
    }

    .appearance-hotspot.product-selected {
        border-color: $red;
        background-color: white;
        color: $red;
    }

    .appearance-hotspot-overlay {
        background-color: red;
        width: 100%;
        height: 100%;
    }

    .appearance-top-left {
        @include flex-shrink(0);
        width: 369px;
        width: 280px;
        padding-top: 0;
        margin: 0 0 0 $nav-arrow-width;
        position: relative;
    }

    .no-touch .appearance-top-left {
        height: 607px;
    }

    .appearance-top-inner {
        display: flex;
        padding: 1em 0 .1em 0;
    }

    .appearance-top-right {
        transform: none;
        width: auto;
        flex-grow: 1;
        position: relative;
        background: none;
        margin: 0 $nav-arrow-width 0 2em;
        z-index: 1;

        .poc-close-btn {
            display: none;
        }

        .product-nav-btn {
            display: none;
        }
    }

    .product-tabs {
        padding-top: 0;
        height: auto;
    }

    .product-tabs .product-tab {
        flex-grow: 0;
        flex-shrink: 1;
        margin: 0 .4em;
        &:first-child { margin-left: 0; }
        &:last-child { margin-right: 0; }
    }

    .occurrence-offer {
        background: none;

        .product-type {
            padding-left: 0;
            border: none;
            color: $appearance-white;
            margin: 0;
        }

        .product-offer-content {
            padding: 0;

            .product-brand {
                color: $appearance-white;
            }

            .product-name {
                color: #C0C0C0;
            }

            .offer-price {
                color: $appearance-white;
                border-bottom: none;
                margin-bottom: 0.5em;
            }
        }
    }

    .product-actions .button {
        font-size: .5em;
        height: 3em;
        &.button-cta {
            line-height: 2.5em;
        }
    }

    .occurrence-list-item ul {
        overflow: hidden;
        height: 100%;
        display: flex;

        .occurrence-offer {
            width: 9em;
            max-width: 32%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            margin: 8px;
            &:first-child { margin-left: 0; }
            &:last-child { margin-right: 0; }
            padding-bottom: 0;
            .product-offer-image {
                padding-top: 100%;
                width: 100%;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        .product-offer-content {
            position: relative;
            bottom: 0;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .product-actual {
            max-width: 36%;
            width: 14.5em;
        }
    }

    $appearance-block-gutter: em(30);
    .appearance-bottom-inner {
        display: flex;
        justify-content: space-between;
        padding: 1em $nav-arrow-width;

        .appearance-bottom-left, .appearance-bottom-right {
            width: calc(50% - #{$appearance-block-gutter});
        }

        .appearance-block {
            margin-top: 1em;
            border-bottom: 1px solid $appearance-border-color;
            border-top: 0;
            padding-left: 0;
            padding-right: 0;

            &:first-child {
                margin-top: 0;
            }
        }

        .appearance-bottom-right .appearance-block:last-child {
            border-bottom: none;
        }

        .appearance-actions {
            display: flex;

            padding-left: $bottom-sidepadding;
            height: em(80);

            .like-button, .share-button {
                font-size: 1.7em;
            }

            .share, .likes {
                text-align: center;
                margin-right: 1.6em;
            }

            .likes {
                .like-count {
                    margin-top: -.4em;
                    display: block;
                    color: $appearance-black;
                    font-weight: 500;
                    font-size: 19px;
                    &:after {
                        content: " likes";
                        color: #9B9B9B;
                    }
                }
            }

            .share {
                &:after {
                    content: " share";
                    display: block;
                    color: #9B9B9B;
                    margin-top: -.4em;
                    font-weight: 500;
                    font-size: 19px;
                }
            }
        }

        .appearance-subject-info {
            padding-top: 1em;
            padding-left: 0;
            margin-right: $appearance-block-gutter;
            margin-top: 0;
            .appearance-subject-avatar img {
                width: em(55);
            }
        }

        .appearance-subject-name {
            font-size: em(22);
        }

        .appearance-name {
            font-size: em(18);
            line-height: 1.2;
            margin: .5em 0 .4em 0;
        }

        .appearance-related {
            .appearance-related-thumb {
                overflow: hidden;
            }
        }
    }

    .product-actions {
        .button {
            flex-basis: 0;
            display: block;
            line-height: 2.3em;
            height: 2.5em;
            font-size: .7em;
            margin-bottom: .6em;
            &:not(:last-child) {
                margin-right: 1em;
            }
        }

        .closet-button {
            flex-grow: 0;
            min-width: 3.4em;
            line-height: 2.6em;
            .btn-label {
                display: none;
            }
        }
    }
}
