.white-bg {
  background-color: white;
}

.icon-example {
  text-align: center;
  width: 170px;
  padding: .5em;
  background-color: rgba(0, 0, 0, .5);
  margin: .5em;

  .icon {
    display: block;
  }
}

#example-popover-click, #example-popover-hover {
  padding: .5em;
}