.about-social-item {
    margin-bottom: .5em;

    img {
        margin-right: .5em;
    }
}
    
@media #{$medium-up} {
    .list-about-social {
        float: left;
        width: 30%;
    }

    .about-description {
        float: left;
        width: 65%;
        margin-right: 5%;
        margin-top: 0;
    }
}