.form-accountsettings {
    margin: 0 rem-calc(20);
    width: auto;
    padding-bottom: rem-calc(80);
}

.profile-edit-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $trans-black-8;

    padding-top: 2rem;

    display: flex;
    justify-content: center;
}

.avatar-edit-container {
    width: 1.6875rem;
    height: 1.6875rem;
    border-radius: 50%;
    position: absolute;
    top: em(9);
    background-position: center center;
    background-repeat: no-repeat;
}

.avatar-edit {
    position: relative;
}

.avatar-edit-btn {
    right: -0.5em;
    bottom: -0.5em;
    position: absolute;
}

.account-header-file, .account-avatar-file {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    cursor: pointer;
    z-index: -1;
}

.edit-controls {
    margin-right: 5em;

    .hidden {
        display: none;
    }
}

.crop-canvas {
    width: 318px;
    height: 318px;
    overflow: hidden;
    border: 4px solid $trans-white-3;
    background-size: 250% auto;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.avatar-crop-well {
    width: 350px;
    background-color: $trans-black-1;
}

.avatar-scale {
    width: 100%;
    margin: 1em 0;
}

.avatar-crop-buttons {
    width: 100%;
    text-align: center;
    button {
        width: 49%;
    }
}

.avatar-crop-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: $trans-black-5;

    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        color: white;
    }
}

.uploading-spinner {
    text-align: center;
    .spinner-section {
        margin: 0 auto;
    }
}

.media-oauth-application {
    border-top: 1px solid $trans-white-5;

    .oauth-permissions {
        color: $trans-white-2;
        margin-top: .3em;
    }

    &:last-of-type {
        padding-bottom: 2em;
    }
}

.user-biography {
    padding-top: 0.5em;
    margin-left: 2.325rem
}

@media #{$medium-up} {
    .edit-controls {
        display: block;
    }

    .form-accountsettings {
        width: auto;
    }

    .media-oauth-application {
        border-top: none;

        .media-body {
            padding-left: 1em
        }

        .media-right {
            padding-right: 1em;
        }
    }

    .media-oauth-application div {
        border-top: 1px solid $trans-white-5;
    }

    .revoke-access-button {
        margin-left: 8em;
    }

    .user-biography {
       margin-left: 4rem;
    }

    .avatar-edit-container {
        width: 3.125rem;
        height: 3.125rem;
    }

    .profile-edit-container {
        padding-top: rem-calc(120);
        @include align-items(center);
    }
}

@media #{$large-up} {
    .avatar-edit-container {
        width: 76px;
        height: 76px;
        top: 7px;
        left: 2px;
    }

    .form-accountsettings {
        width: 50%;
        margin: rem-calc(40);
    }

    .user-biography {
        margin-left: 7.5rem;
    }
}

