.ad-large-up, .ad-medium-up  {
    display: none;
}

.ad-small-only {
    display: block !important;
}

.client-close{
    cursor: pointer;
    background-color:#000;
    color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    right: 25px;
    text-align: center;
    line-height: 50px;
}

#client-base-banner{

    background-color:#fff;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0; 
    z-index: 999;
}

@media (min-width: 760px) {
    .ad-medium-up {
        display: block !important;
    }

    .ad-small-only {
        display: none !important;
    }
}

@media (min-width: 63.063em) {
    .ad-large-up {
        display: block !important;
    }
}