/*
    Topbar icon
*/
.alerts-button{
    font-size: 1.7em;
}

.alerts-count{
    position: absolute;
    top:.6em;
    right:.7em;
    height:1.5em;
    width:1.5em;
    font-size: .4em;
    line-height: 1.3;
    text-align: center;
    letter-spacing: -.5px;
    @include radius(100%);
    background: $red;
}

/*
    Popover
*/


#alert-popover, #notification-popover{
    font-size: 12px;
    line-height:1.3;
    width: 320px;

    ul{
        max-height:60vh;
        overflow:auto;
    }
    .spinner-small{
        margin: 2em auto;
    }
}

.alert-item{
    font-weight: 500;
    border-bottom: 1px solid rgba(0,0,0,.1);

    &.alert-new{
        background: rgba(0,0,0,.05);
    }

    &.alert-message{
        padding: 0 1em;
    }
}


.alert-link{

    padding-left:.5em;
    overflow: hidden;
    display: block;

    &:hover{
        background: rgba(0,0,0,.05);
    }
}

.alert-avatar{
    position: absolute;
    top:1em;
    left:1em;
    width:45px;
    height:45px;

}
.alert-content{
    position: relative;
    padding: .5em .5em .5em 6em;
}
.alert-subject{
    margin-top:.5em;
    font-weight: 700;
    color: rgb(57,57,57);
}
.alert-description{
    color: rgb(137,137,137);
}

.alert-date{
    color:$red;
}

.alert-img{
    border:1px solid rgba(0,0,0,.05);
    float:right;
    margin:.5em;
    background: rgba(0,0,0,.1);
    height:65px;
    width:65px;
}
