@import "appearance_thumbs";

$bottom-sidepadding: em(21);
 body{
     margin: 0;
    padding: 0;
 }

.mobile-dad{
    @media (min-width: 899px){
        display:none;
    }

}

.button1{
    outline: none;
background: black;
color: #fff;
text-align: center;
text-decoration: none;
text-shadow: none;
cursor: pointer;
position: relative;
display: inline-block;
font-weight: 500;
letter-spacing: 1px;
border-radius: 0;
padding: 0 1em;
text-transform: uppercase;
vertical-align: middle;
transition: border-color .1s ease-in-out,background-color .05s ease-in-out;
    &:hover{
     background: transparent;
        color:black;
    }
}

.looklive-card{
    width:100% !important;
}


.sponsor-image{
    max-width: 100%;
    width: 90px;
    height: 100%;

}
.sponsor-section1{
    border-bottom: 2px solid #e1e1e1;
    padding-top: .2em;
    //padding-bottom:1.5em;
    text-align:center;

}


.sponsor-section{
    border-bottom: 2px solid #e1e1e1;
    border-top: 2px solid #e1e1e1;
    padding-top: 1.5em;
    //padding-bottom:1.5em;
    text-align:center;
    a{
        background: #1e1e1e;  /* fallback for old browsers */


        padding: .5em;
        text-shadow: none;
        font-family: Lato;
        color: white;
        font-weight: bolder;
        font-size: 1.2em;

    }
    img{
        width: 90px;
    }
    span{
       font-weight: lighter;
        text-shadow: none;
        margin-left: 1em;
    }
}

.step-dad{
    //display:grid;
    @media (max-width: 900px){
        display:none;
    }
    //grid-template-columns:   38% 34% 28%  ;
    //grid-template-areas:    "left  center right " ;
    background: #F4F4F4 !important;  /* fallback for old browsers */
    width: 100%;
    position: absolute;
}
.related-section1{
    display: flex;
    overflow: auto;
    margin-right:1em;
    justify-content: space-around;
    background: white;
    padding: 1em;
    margin-top: 1em;
    padding-left: 0;
    max-height: 100vh;

}
.related-section2{
    grid-area: center;
    display: flex;
    overflow: auto;
    justify-content: space-around;
    background: white;
    margin-top: 1em;
    padding-left: 0;
    margin-right: 1em;

}
.main-left{
   float: left;
position: fixed;
width: 38%;
overflow-x: hidden;

display: flex;
justify-content: center;
align-items: center;


}
.similar-list{
}


.type-title{
    text-shadow: none;
    font-size: em(20);
    color: #e44141;
    font-family: "lato";
    font-weight: bold;
    margin-bottom:1em;
}


.button-next{
    font-weight: 100;
    align-self: center;
    justify-self: center;
    font-size: 4em;
    text-shadow: none;
    float: left;
    width: 15%;
}
.button-prev{

    font-weight: 100;
    align-self: center;
    justify-self: center;
        font-size: 4em;
        text-shadow: none;



}
.prev-container{
    float: left;
width: 10%;
}

.appearance-actions-grid{
    grid-area: action;
}


.main-image{
    float: left;
    width: 75%;

}
.main-right{
    float: right;
    width: 28%;
    background: white;
    border: 2px solid #e1e1e1;
    padding: 1em;
    margin-top:1em;

}


.offers-list{

}

.dad-container{
    display:grid;
    flex-direction: row;
    @media (max-width: 1181px){
        display:none;
    }
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 1fr;
    grid-template-areas:
            "picture info"
            ". related";
}


.lefty{
    width: 33%;
    float: left;
}
.righty{
    width:33%;
    float:right;
}
.middle{
    width:33%;
    display:inline-block;

}

.appearance-main-container{
    position: relative;
    overflow: hidden;
    padding-top:150%;
    margin:0 auto;
    img{
        width: 100%;
     max-width: 100%;
    position: absolute;
     top: 0;
    left: 0;

    }

}

.appearance-image-middle{
    margin-top: 4em;
}





.appearance-information-column{
    h1{
        text-shadow: none;
    }
     .appearance-subject-name{
                text-shadow: none;
 }

 padding: 3em;
}

 .appearance-subject-name{
                text-shadow: none;
 }
.appearance-contains{
    display:grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'like share';
}
.likeme{
    grid-area: like;
    align-self: center;
}
.share-me{
    grid-area: share;
    align-self: center;


}


.appearance-information{
    display:flex;
    flex-direction: column;
    //border-right: 1px solid #f1f1f1;
    //padding: 3em;
    //width:30%;
    grid-area: info;

    .celeb-thumbnail{
        border: 2px solid #fff;
        border-radius: 50%;
    }
    .thumbnail-info{
        display:flex;
        align-items: center;
        margin-bottom: em(12);
        border-bottom: 1.5px solid #f1f1f1;
        padding-bottom: em(8);

        .appearance-subject-name{
            text-shadow: none;
            font-family: Lato;
            font-weight: bold;
            margin-bottom: em(5);
        }
    }

}
.celeb-thumbnail{
        border: 2px solid #fff;
        border-radius: 50%;
    }
 .thumbnail-info{
        display:flex;
        align-items: center;
        margin-bottom: em(12);
        padding-bottom: em(8);

        .appearance-subject-name{
            text-shadow: none;
            font-family: Lato;
            font-weight: bold;
            margin-bottom: em(5);
        }
    }

.meta-related-container{
        float:right;
    width:34%;

}


.appearance-full-meta{
    grid-area: meta;
    margin-top: 3%;
    background: white;
    margin-right: 1em;
    padding: 3%;
    .appearance-location{
            text-shadow: none;
            font-family: Lato;
            font-weight: lighter;
    }
    .appearance-body-text{
        text-shadow: none;
        color: #4c4c4c;
        font-weight:300;
        font-size: .8em;
        align-self: center;

    }
    .appearance-tags-meta{
        a{
             color: #4f4f4f;
             background-color: #eaebec;
             border:none;
             text-shadow: none;
            font-weight: 400;
        }

    }
}
.comment-section{
    margin-top: em(25);
    margin-bottom: 5%;
    .comment-cloud{
        textarea{
           border: 1px solid #d9d9d9;
            margin-bottom:em(15);

        }

    }
    .comment-body{
            text-shadow: none;
            a{
                text-shadow: none;

            }
        }
    .form-horizontal{
        input{
            height: 40%;
            width: 100%;
            max-width:150px;
            font-weight: bold;

        }
    }

}

.name-and-follow-container{
    display:flex;
    flex-direction: column;
    margin-left: 1em;
    .button-follow{
background: transparent;

        .follow-button{
            color: black;
            background: transparent;


        }


    }


}

.related-people-section{
    h1{
        text-shadow: none;
        color: #e44141;
    }
}

.appearance-visuals{
    margin-top: em(20);
    flex: 1 0 auto;
    align-self: center;
    display:flex;

    overflow:hidden;
    //border-bottom:2px solid #e1e1e1;
    //border-right:2px solid #e1e1e1;
    padding-right:1em;
    grid-area: picture;

    .appearance-related-items{
         .appearance-related-list{
             .appearance-related-thumb {
                 width: 30%;
                 img{
                     border: 2px solid #e1e1e1;

                 }
                 img:hover{
                  border: 2px solid #e66263;
                    box-shadow: 2px 2px 13px 2px #e1e1e1;
                }
             }

         }

    }

    .appearance-top-left{
        margin: 0;
    }
    .interact-button-container{
        padding-left: em(20);
    }
    .like-button-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-right: em(6);
        .like-button-text{
            color: black;
            text-shadow: none;
            font-family: Lato;
            .like-number{
                font-weight: bold;
            }
        }
    }
    .appearance-actions{
        border: none;
    }
    .appearance-related-actions{
        .share{
            display:flex;
            justify-content:flex-end;
            ul{
                display:block;
                padding-bottom: em(10);

            }
            .share-options{
                .share-option{
                    width: 2.05em;
                height: 2em;
                font-size: .8em;
                text-align: center;
                margin-right: .6em;
                border-radius: .3em;
                color: #fff;
                margin-bottom: 2em;
                }

            }
            margin-top: 3em;
        }

    }
    .appearance-main-image{
            box-shadow: 2px 2px 8px 2px #9e9e9e;
    }
    .appearance-related-items{
        flex:1 0 auto;
        h1{
            display:none;
        }
        ul{
            //display:block;

        }

    }


}
.appearance-visuals1{
    margin-top: em(20);

    //border-bottom:2px solid #e1e1e1;
    //border-right:2px solid #e1e1e1;
    grid-area: picture;

    .appearance-related-items{
         .appearance-related-list{
             .appearance-related-thumb {
                 width: 30%;
                 img{
                     border: 2px solid #e1e1e1;

                 }
                 img:hover{
                  border: 2px solid #e66263;
                    box-shadow: 2px 2px 13px 2px #e1e1e1;
                }
             }

         }

    }

    .appearance-top-left{
        margin: 0;
    }
    .interact-button-container{
        padding-left: em(20);
    }
    .like-button-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-right: em(6);
        .like-button-text{
            color: black;
            text-shadow: none;
            font-family: Lato;
            .like-number{
                font-weight: bold;
            }
        }
    }
    .appearance-actions{
        border: none;
    }
    .appearance-related-actions{
        .share{
            display:flex;
            justify-content:flex-end;
            ul{
                display:block;
                padding-bottom: em(10);

            }
            .share-options{
                .share-option{
                    width: 2.05em;
                height: 2em;
                font-size: .8em;
                text-align: center;
                margin-right: .6em;
                border-radius: .3em;
                color: #fff;
                margin-bottom: 2em;
                }

            }
            margin-top: 3em;
        }

    }
    .appearance-main-image{
            //box-shadow: 2px 2px 8px 2px #9e9e9e;
    }
    .appearance-related-items{
        flex:1 0 auto;
        h1{
            display:none;
        }
        ul{
            //display:block;

        }

    }


}
.appearance-related-section{
    //margin-top: .3em;
    //margin-left: 3em;
    grid-area: related;
    @media only screen and (max-width: 1300px){
           max-width: 400px;

    }

    .occurrence-list-item ul {
        display: block;
        h1{

        }
        .product-name{

        }

    }


}
.appearance-related-section1{
    display:flex;
    justify-content: center;
    margin-top:1em;
    @media only screen and (max-width: 1300px){
           max-width: 400px;

    }

    .occurrence-list-item ul {
        display: block;
        h1{

        }
        .product-name{

        }

    }


}













.appearance-content{
    width:100%;
    text-align:center;
}


.appearance-bottom-area {
    background-color: white;
    text-shadow: none;
    color: $appearance-black;

    h1 {
        margin: 0;
    }
}

.appearance-hotspot {
    position: absolute;
    width: 2rem;
    height: 2rem;
    opacity: .9;
    border-radius: 50%;
    border: 2px solid white;
    background-color: $red;
    z-index: 1;
    margin-left: -1rem;
    margin-top: -1rem;
    text-shadow: none;

    .icon {
        vertical-align: middle;
        text-align: center;
        width: 100%;
        height: 80%;
        position: absolute;
        line-height: 2rem;
        font-size: 1.5em;
        display: block;
        top: -2px;
    }
}

.touch .appearance-hotspot:active {
    background-color: #333;
}

.no-touch .appearance-hotspot.product-selected, .appearance-hotspot:hover {
    border-color: $red;
    background-color: white;
    color: $red;
}

.appearance-top-area {
    background-color: white;

}

.appearance-top-inner {
    max-width: 550px;
    margin: 0 auto;
    position: relative;
}

.appearance-scroll-down-indicator {
    bottom: -.3em;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    width: 100px;
    text-align: center;
    height: 2em;
    font-size: 2em;
    line-height: 1;
    cursor: pointer;
    z-index: 300;
    color: lighten($appearance-black, 40);
    animation: pulsateScrollIndicator 8.0s infinite;
}

@keyframes pulsateScrollIndicator {
    0% {
        bottom: -.3em;
        color: lighten($appearance-black, 40);
    }
    48% {
        bottom: -.3em;
        color: lighten($appearance-black, 40);
    }
    50% {
        bottom: -.35em;
        color: lighten($appearance-black, 60);
    }
    52% {
        bottom: -.3em;
        color: lighten($appearance-black, 40);
    }
}

.appearance-bottom-inner {
    max-width: 550px;
    margin: 0 auto;
}

.appearance-arrow-nav {
    height: 100%;
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;

    a {
        position: absolute;
        top: calc(50% - 22px);
        &.arrow-nav-next {
            right: 0;
        }
    }
}

.appearance-arrow-nav a, .product-nav-btn {
    width: 27px;
    height: 45px;
    border: none;
    border-radius: 0;
    font-size: 1.6em;
    padding: 0;
    line-height: 45px;
    background-color: rgba(0, 0, 0, .3);
}

.appearance-image-container {
    position: relative;

    padding-top: 150%;
    margin: 0 auto;
    overflow: hidden;
}

.appearance-image-container img {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.appearance-actions {
    height: 47px;
    border-bottom: 1px solid #DBDBDB;
    padding-left: $bottom-sidepadding;
    padding-top: .35em;
    color: $appearance-grey;

    .likes, .share {
        display: inline-block;
        margin-right: $bottom-sidepadding / 2;
    }

    .like-count {
        vertical-align: middle;
        line-height: 1.5;
        height: 2em;
        display: inline-block;
    }
}

.appearance-share {
    width: auto;
    padding: .5em;
}

.share-options {
    display: flex;
    .share-option {
        width: 2.05em;
        height: 2em;
        font-size: .8em;
        text-align: center;
        margin-right: .6em;
        border-radius: .3em;
        color: white;
        &:last-child {
            margin: 0;
        }

        &.requires-bg {
            background-color: $appearance-black;
        }
    }
}

.likes .like-button, .share .textbutton.share-button {
    transition: color 200ms;
    border: none;
    background: none;
    &:active, &:hover {
        background: none;
    }
    color: $red;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    line-height: 1;
    border-radius: 0;
    width: auto;
    height: auto;
    padding-top: 6px;
}

.likes .like-button .icon {
    width: auto;
    height: auto;
    line-height: 1;
    font-size: .9em;
}

.appearance-subject-info {
    padding-top: em(10);
    .appearance-subject-avatar {
        img {
            width: em(35);
            border-radius: 50%;
        }
    }
}

.appearance-subject-name {
    font-size: em(18);
    margin-bottom: 0;
    color: $red;
    a {
        line-height: 1.2;
        vertical-align: bottom;
    }
    .follow-button {
        font-size: .5em;
        margin-left: .5em;
    }
}

.appearance-name {
    font-size: em(14);
    margin-top: .3em;
    margin-bottom: .1em;
}

.appearance-info {
    color: $appearance-grey;
    font-size: em(13);
    margin-top: 0;
}

.appearance-channel {
    color: $appearance-grey;
    font-size: em(13);
    margin-top: 0;
    .appearance-channel-name {
        color: $red;
        font-size: 1em;
        margin-top: .5em;
    }
}



.appearance-occurrences-view {
    position: fixed;
    left: 0;
    top: 0;

    transform: translateX(100%);
    transition: transform 200ms ease-out;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 9999;
    background-color: white;
}
.appearance-occurrences-view.open{
    @include transform(translateX(0%));
    background-color: white;
}

.poc-close-btn {
    background-color: $red;
    margin: 1em;
    float: right;
    border: 2px solid white;
    width: 2.35em;
    height: 2.35em;
}

$width: 12em;
.ribbon{

    font-size:14px;
    position: absolute;
    bottom:$width/6;
    right:-$width/4;

    line-height: 1.8em;
    transform: rotate(-45deg);
    width: $width;

    background: $red;

    text-shadow: none;
    color:white;
    text-align: center;

}

.appearance-products-nav {
    display: flex;
    align-items: center;
}

.product-nav-btn {
    flex-shrink: 0;
    background-color: $red;

    &.product-nav-btn-left {
        margin-right: 16px;
    }

    &.product-nav-btn-right {
        margin-left: 16px;
    }
}

.product-tabs {
    flex-grow: 1;
    display: flex;
    height: 100px;
    overflow: hidden;
    padding: .3em 0;

    .product-tab {
        flex-shrink: 0;
        margin: 0 .1em;
        width: 94px;
        height: 94px;
        position: relative;
        overflow: hidden;

        .border-div {
            position: absolute;
            background-color: rgba(0, 0, 0, .3);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &:hover {
                background-color: rgba(0, 0, 0, .1);
            }
        }
        .product-selected .border-div {
            background-color: rgba(0, 0, 0, 0);
            box-shadow: inset 0px 0px 0px 2px $red;
        }
    }
}

.product-tabs1 {
    flex-grow: 1;
    display: inline-table;
    height: 100px;
    overflow: hidden;
    padding: .3em 0;

    .product-tab {
        flex-shrink: 0;
        margin: 0 .1em;
        //width: 94px;
        //height: 94px;
        position: relative;
        overflow: hidden;

        .border-div {
            position: absolute;
            background-color: rgba(0, 0, 0, .3);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &:hover {
                background-color: rgba(0, 0, 0, .1);
            }
        }
        .product-selected .border-div {
            background-color: rgba(0, 0, 0, 0);
            box-shadow: inset 0px 0px 0px 2px $red;
        }
    }
}


.tab-image-container {
    display: block;
    padding-top: 100%;

    .tab-image {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.occurrence-list-item {
    display: none;
    color: $appearance-black;
    text-shadow: none;
    &.occurrence-selected {
        display: block;
    }
}

$max-occurrence-width: 450px;

.occurrence-offer {
    margin-top: .85em;


    padding-bottom: 1em;
    .product-type {
        font-size: em(14);
        padding: .6em 1.6em;
        border-bottom: 1px solid $appearance-border-color;
        max-width: $max-occurrence-width;
        margin: 0 auto;
        margin: 0 auto;
    }

    .product-offer-image {
        overflow: hidden;
        margin: 0 auto;
        position: relative;
        margin-right: 2%;

    }

    //img {
    //    width: 100%;
    //}

    &.product-actual {
        .product-type {
        }
    }

    .product-offer-content {
        padding: 0 1.6em;
        margin: 0 auto;

        .product-brand {
           font-size: em(15);
            color: black;
            margin-top: .5em;
            font-weight:bolder;
            font-family: Lato;
        }
        .product-name {
            font-size: em(14)  !important;
            font-weight: 300 !important;
        }
        .offer-price {
            display: block;
            border-bottom: 1px solid $appearance-border-color;
            font-size: em(13);
            color: $appearance-grey;
            margin-bottom: 1em;
            font-weight: 300 !important;

        }
    }
}

.product-actions {
    display: flex;
    flex-direction: column;
    margin: 0px;

    .js-shop{
        @media only screen and (max-width: 1300px){
           font-size: em(13);


    }
       font-size: em(20);
    }

    .closet-button{
        background-color: transparent;
        color: black;
        border: none;
    }
}
.product-actions1 {
    display: flex;
    flex-direction: column;
    margin: 0px;

    .js-shop{
        @media only screen and (max-width: 1300px){
           font-size: em(13);


    }
       font-size: em(20);
    }

    .closet-button{
        background-color: transparent;
        color: black;
        border: none;
    }
}

.appearance-block {
    padding: .45em $bottom-sidepadding;

    p {
        font-size: em(13);
        margin-top: 0;
    }
}

.appearance-block-title {
    color: $appearance-black;
    font-size: 16px;
    margin: .7em 0;
    text-shadow:none;
}

.appearance-tags {
    margin: .7em 0;
    line-height: 1;
    font-size: .9rem;
}

.tag-href {
    color: $red;
    padding: .3em .6em;
    display: inline-block;
    margin-top: .5em;
    border-radius: .2em;
    border: 1px solid $red;
    font-weight: 500;

    &:hover {
        background-color: $red;
        color: black;
    }

    transition: .2s;
}

.appearance-like-link {
    color: $red;
    &:hover {
        color: inherit;
    }
}

.appearance-likes-list {
    max-height: 500px;
    overflow: auto;
    .appearance-like {
        border-bottom: 1px solid $appearance-border-color;
        &:last-of-type {
            border-bottom: none;
        }
    }
}


.heart-icon-red {
    color: $red;
    vertical-align: middle;
}

.appearance-show-likes  {
    text-transform: none;
    font-size: inherit;
    height: auto;
    letter-spacing: inherit;
    color: $red;
    vertical-align: baseline;
    &.textbutton:hover {
        background-color: transparent;
        color: inherit;
    }
}

.appearance-related {
    border-top: 1px solid $appearance-border-color;
}




.appearance-related-people {
    border-top: 1px solid $appearance-border-color;
    .related-person-avatar {
        border-radius: 50%;
        width: em(54);
        height: em(54);
    }

    .related-person-name {
        color: $red;
        font-size: 1em;
        margin-top: .5em;
        font-style: normal;
        text-shadow: none;
    }
}


.appearance-related-people1 {



}
.related-person-name1 {
        color: black;
        font-size: .8em;
        margin-top: .5em;
        font-style: normal;
        text-shadow: none;
    }
.appearance-related-list1{
      display: flex;
    width: 100%;
    justify-content: space-between;

}

.appearance-related-list {
    display: flex;
    width: 100%;

    .appearance-related-thumb {
        display: block;
        margin: .45em;
        width: 50%;

        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.appearance-related-person {
    text-align: center;
    margin: .45em;
    width: 33%;
}
.appearance-related-person1 {
    text-align: center;
    width: 33%;
    padding-right:1%;
}
$nav-arrow-width: 65px;
$nav-arrow-height: 121px;
@media #{$large-up} {
    .no-touch .appearance-top-area {
        padding-top: rem-calc(20);
    }
    .appearance-bottom-inner, .appearance-top-inner {
        max-width: 1250px;
        position: relative;
    }

    .appearance-arrow-nav {
        max-width: none;
        .button {
            width: $nav-arrow-width;
            height: $nav-arrow-height;
            top: calc(50% - 121px);
            font-size: 5em;
            background: none;
            color: $red;
            &:hover {
                background: none;
                color: $appearance-border-color;
            }
        }
    }

    .appearance-hotspot.product-selected {
        border-color: $red;
        background-color: white;
        color: $red;
    }

    .appearance-hotspot-overlay {
        background-color: transparent;
        width: 100%;
        height: 100%;
    }

    .appearance-top-left {
        flex-shrink: 1;
        width: 100%;
        padding-top: 0;
        margin: 0 0 0 $nav-arrow-width;
        position: relative;
    }

    .no-touch .appearance-top-left {
        height: 100%;
    }

    .appearance-top-inner {
        display: flex;
        padding: 1em 0 .1em 0;
    }

    .appearance-top-right {
        transform: none;
        width: auto;
        flex-grow: 1;
        position: relative;
        background: none;
        margin: 0 $nav-arrow-width 0 2em;
        z-index: 1;

        .poc-close-btn {
            display: none;
        }

        .product-nav-btn {
            display: none;
        }
    }

    .product-tabs {
        padding-top: 0;
        height: auto;
    }

    .product-tabs .product-tab {
        flex-grow: 0;
        flex-shrink: 1;
        &:first-child { margin-left: 0; }
        &:last-child { margin-right: 0; }
    }

    .occurrence-offer {
        background: none;

        .product-type {
            padding-left: 0;
            border: none;
            color: black;
            font-weight: 300;
            margin: 0;
            letter-spacing: 2px;
        }

        .product-offer-content {

            .product-brand {
                color: black;
            }

            .product-name {
                color: black;
            }

            .offer-price {
                color: black;
                border-bottom: none;
            }
        }
    }

    .product-actions .button {
        font-size: .5em;
        height: 3em;
        &.button-cta {
            line-height: 1.5em;
        }
    }

    .occurrence-list-item ul {


        .occurrence-offer {
            .product-offer-image {
                img {



                }
            }
        }

        .product-offer-content {
            position: relative;
            bottom: 0;
            flex:1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .product-actual {
        }
    }

    $appearance-block-gutter: em(30);
    .appearance-bottom-inner {
        display: flex;
        justify-content: space-between;
        padding: 1em $nav-arrow-width;

        .appearance-bottom-left, .appearance-bottom-right {
            width: calc(50% - #{$appearance-block-gutter});
        }

        .appearance-block {
            margin-top: 1em;
            border-bottom: 1px solid $appearance-border-color;
            border-top: 0;
            padding-left: 0;
            padding-right: 0;

            &:first-child {
                margin-top: 0;
            }
        }

        .appearance-bottom-right .appearance-block:last-child {
            border-bottom: none;
        }

        .appearance-actions {
            display: flex;

            padding-left: $bottom-sidepadding;
            height: em(80);

            .like-button, .share-button {
                font-size: 1.7em;
            }

            .share, .likes {
                text-align: center;
                margin-right: 1.6em;
            }

            .likes {
                .like-count {
                    margin-top: -.4em;
                    display: block;
                    color: $appearance-black;
                    font-size: 19px;
                    &:after {
                        content: " likes";
                        color: #9B9B9B;
                    }
                }
            }

            .share {
                margin-top: .7em;
                &:after {
                    content: "share";
                    display: block;
                    color: #9B9B9B;
                    text-align: left;
                    margin-top: .6em;
                    bottom: .5em;
                    left: 0;
                    line-height: 0.75;
                    font-size: 13px;
                }
            }
        }

        .appearance-subject-info {
            padding-top: 1em;
            padding-left: 0;
            margin-right: $appearance-block-gutter;
            margin-top: 0;
            .appearance-subject-avatar img {
                width: em(55);
            }
        }

        .appearance-subject-name {
            font-size: em(22);
        }

        .appearance-name {
            font-size: em(18);
            line-height: 1.2;
            margin: .5em 0 .4em 0;
        }

        .appearance-related {
            .appearance-related-thumb {
                overflow: hidden;
            }
        }
    }

    .product-actions {
        .button {
            flex-basis: 0;
            display: block;
            line-height: 1.5em !important;
            background: black;

            font-size: .9125em;
            margin-bottom: .6em;
            //width: 100% !important;
            //height:70% !important;
            &:not(:last-child) {
                margin-right: 1em;
            }
        }

        .closet-button {
            flex-grow: 0;
            min-width: 3.4em;
            .btn-label {
            }
        }
    }
}