.appearance-thumbs {
    width: 100%;
    z-index: 3;
    margin-top: 1em;
            transform: scale(1);

}

.no-touch .appearance-thumbs {
    position: absolute;
}

$appearance-black: #252525;
.no-touch .thumb-bar{
    transform: scale(.5);
    &:hover {
        transform: scale(1);
    }
}

.thumb-bar {
    margin-bottom: 1em;
    transform-origin: bottom center;
    z-index: 999;
}

.thumb-bar-nav {
    border: none;
    padding: 0;
    font-size: 1.4em;

    width: 27px;
    float: left;
    background: none;

    &:hover, &:focus, &:active {
        background: none;
    }

    border-radius: 0;

    &.hidden {
        visibility: hidden;
        pointer-events: none;
    }

    z-index: 2;
}

.touch .thumb-bar-nav:hover {
    background: none;
}

.thumb-main-container {
    border-bottom: 1px solid $trans-white-8;
    margin-bottom: 1em;

    // Explicitly set height
    height: 83px;
    // visibility: hidden;
}

.flex-justify-center {
    justify-content: center;
}

.thumb-container {
    display: flex;
    width: calc(100% - 54px);
    float: left;
    overflow: hidden;
}

.thumb-bar-thumb {
    width: 64px;
    height: 54px;
    flex-shrink: 0;
    box-sizing: border-box;
    opacity: .7;
    z-index: 2;
    position: relative;

    &:not(.thumb-bar-current):hover {
        opacity: .9;
    }

    img {
        width: 100%;
        padding: 0 .3em;
    }
}

.animatable-thumb-bar {
    transition: margin-left 300ms;
}

.thumb-bar-current {
    opacity: 1;
    .highlighter {
        border: 1px solid $red;
        opacity: 1;
        margin: 0 .3em;
        position: absolute;
        top: 0;
        left: 0;
        width: 56px;
        height: 54px;
    }
}