$ac-width-small: 500px;
$ac-width: 500px;
$ac-img-width: 80px;
$ac-type-width: 95px;
$ac-label-width: $ac-width - ($ac-img-width + $ac-type-width);

.autocomplete {
    width: rem-calc($ac-width);
    max-width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: rem-calc(25);

    .media-left {
        min-width: $ac-img-width;
        width: $ac-img-width / $ac-width * 100%;
        height: 60px;
        padding-right: rem-calc(20);
        box-sizing: border-box;

        img {
            max-width: 100%;
        }
    }

    .media {
        margin-top: 0;
        border-bottom: 1px solid $trans-black-6;

        &:first-of-type {
            border-top: 1px solid $trans-black-6;
        }
    }

    // nested for specifity reasons (inherited from _popovers.scss)
    .result-href {
        padding: 0;
    }
}

.result-label {
    position: relative;
    box-sizing: border-box;
    width: $ac-label-width / $ac-width * 100%;
    padding-right: em(20);
}
.result-descr{
    line-height: 1;
    color:#888;
    text-transform: uppercase;
    font-size: .75em;
    display: block;
}

.result-type {
    box-sizing: border-box;
    width: $ac-type-width / $ac-width * 100%;
    padding-right: em(20);
    font-weight: 500;
    color: $red;
    display: none;
    white-space: nowrap;
}

@media #{$medium-up} {
    .autocomplete {
        max-width: 110%;
    }

    .result-type {
        display: table-cell;
    }

    .result-label {
        padding-right: 0;
    }
}
