.blog-post-content:not(:first-child) {
  margin-top: -20px;
  line-height: 2;
  font-family: Lato;
  font-size:1.2em;
}

.blog-post-header {
  //margin-top: 60px;
  background: black;
  color:white;
  text-align: center;
}


.blog-post-wrapper {
  width: 100%;
  margin: 0 auto;
  text-shadow: none;
}

.blog-post-container {
  width: 100%;
  padding: 20px;
}

.blog-post-ads {
  display: none;
  margin-top: 38%;
}

#iframe-blog-content {
  width: 100%;
  height: 690px;
}

@media screen and (min-width: 450px) {
    #iframe-blog-content {
      height: 850px;
    }
}

@media screen and (min-width: 651px) {
   #iframe-blog-content {
    height: 850px;
  }

  .blog-post-container {
    float: left;
    /*//padding: rem-calc(20) rem-calc(40) rem-calc(40) rem-calc(40);*/    padding: 0px 40px 20px 40px;
    margin-top: 0px;
    padding: 0 40 20 40;
    width: 100%;
  }

  .blog-post-ads {
    display: none;
    position: relative;
    float: right;
    width: 29%;
  /*  height: auto;*/
    padding-bottom: 20px;
  }

}


.looklive-appearance-widget {
  width: 100%;
  margin: auto;
}


.blog-post-container {
  a {
    color: blue;
    text-decoration: underline;
  }

  iframe {
    display: block;
    margin: auto;
  }

}

.related-posts-container {
  padding-bottom: 20px;
  height: 260px;
  background-color: white;
}

.related-posts {
  padding-left: 40px;
}

.related-post {
  float: left;
  width: 300px;
  padding-right: 30px;
}

.blog-post-ads {
  position: relative;
  float: right;
  width: 29%;
  height: auto;
  padding-bottom: 20px;
}

.blog-post-ad {
  margin: 20px 0px 0px 0px;
}

.blog-post-clear {
  clear: both;
}
//
//
//.blog-post-content:not(:first-child) {
//  margin-top: -20px;
//}
//
//
//
//.blog-post-header {
//  margin-top: 4em;
//}
//.post-header-image{
//  margin-bottom: 4em
//}
//.blog-post-titles {
//  text-decoration: underline;
//  font-size: em(20);
//  font-family: Lato-bold;
//
//
//}
//.blog-post-header-container{
//  paddingTop: .7em;
//  background-color: #000;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// padding-bottom: 1em;
//
//
//
//  .post-category{
//    display: flex;
//    flex-direction: row;
//    align-items: flex-end;
//    color: #fff;
//    .post-category-header{
//      color: #fff;
//      font-weight: 400;
//      font-size: em(18);
//      text-transform: uppercase;
//      align-self: center;
//    }
//    .post-category-header-name{
//      color: #cf3533;
//      font-size: em(18);
//      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//      text-transform: uppercase;
//      text-decoration: underline;
//      align-self: center;
//      font-weight: 500;
//
//    }
//    .post-category-header-nline{
//      color: #e44141;
//      font-size: em(18);
//      text-transform: uppercase;
//      align-self: center;
//      margin-bottom: 60%;
//    }
//
//  }
//  .blog-post-name {
//
//      color: #fff;
//    font-weight: bold;
//    font-size: em(41);
//    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//
//
//
//  }
//  span {
//    padding-top:.2em;
//    font-size:em(18);
//    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//    font-style: normal;
//    font-variant: normal;
//    font-weight: 400;
//	text-decoration: none;
//	color: #D84A4A;
//  }
//  .post-header-meta{
//    display: flex;
//    flex-direction: row;
//
//    ul{
//          list-style: none;
//    }
//    img{
//     width: 45px;
//      padding: 5px;
//      border: 0;
//      box-shadow: 0;
//      display: inline;
//    }
//    margin-bottom: .5em;
//
//  }
//}
//.blog-content-wrapper{
//  padding-left:14%;
//  padding-right:14%;
//  @media (max-width: 800px){
//    padding-left: 3%;
//    padding-right:3%;
//  }
//}
//.blog-content {
//  background-color: #FFFFFF;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//    max-width: 100%;
//  padding-right: .5em;
//  padding-left: .5em;
//
//  border: 2px solid #e1e1e1;
//   box-shadow: 2px 2px 13px 2px #e1e1e1;
//
//  font-size: em(22);
//  font-weight: 300;
//  line-height: 220%;
//  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//  text-align:center;
//  p span {
//    line-height: 220%;
//  }
//
//
//}
//.blog-post-name{
//  text-align:center;
//}
//
//
//.share-buttons img {
//width: 35px;
//padding: 5px;
//border: 0;
//box-shadow: 0;
//display: inline;
//}
//
//.blog-post-wrapper {
//  width: 100%;
//  margin: 0 auto;
//  text-shadow: none;
//  background-color:#FFFFFF;
//}
//
//.blog-post-container {
//  width: 100%;
//}
//
//.blog-post-ads {
//  display: none;
//  margin-top: 38%;
//}
//
//#iframe-blog-content {
//}
//
//
//
//@media screen and (min-width: 450px) {
//    #iframe-blog-content {
//      height: 850px;
//    }
//}
//
//@media screen and (min-width: 651px) {
//   #iframe-blog-content {
//    height: 850px;
//  }
//
//  .blog-post-container {
//    float: left;
//    /*//padding: rem-calc(20) rem-calc(40) rem-calc(40) rem-calc(40);*/    padding: 0px 40px 20px 40px;
//    margin-top: 0px;
//    padding: 0 40 20 40;
//    width: 100%;
//  }
//
//  .blog-post-ads {
//    display: none;
//    position: relative;
//    float: right;
//    width: 29%;
//  /*  height: auto;*/
//    padding-bottom: 20px;
//  }
//
//}
//
//
//.looklive-appearance-widget {
//  width: 100%;
//  margin: auto;
//}
//
//.sign-up-pretext{
//  text-shadow: none;
//}
//
//
//.blog-post-container {
//  a {
//    color:red;
//    text-decoration: underline;
//  }
//
//  iframe {
//    display: block;
//    margin: auto;
//  }
//
//}
//.blog-newsletter{
//  padding-bottom: 20px;
//  height:260px;
//  backgroun-color: #eaeaea;
//  display:flex;
//
//
//}
//
//.related-posts-container {
//  background-color: #eaeaea;
//  display: -webkit-flex;
//   display: flex;
//   -webkit-flex-direction: column;
//   flex-direction: column;
//   -webkit-align-items: center;
//   align-items: center;
//   -webkit-justify-content: center;
//   justify-content: center;
//  .join-movement{
//      display:flex;
//  flex-direction: row;
//  justify-content: center;
//  align-content: center;
//    text-shadow: none;
//
//  }
//  p{
//    padding: 4px;
//    font-size: em(38);
//    color: #000000;
//    font-family: Lato;
//
//  }
//  .join{
//      font-weight: 100;
//    }
//   .movement{
//      text-style: bold;
//    }
//  a{
//    font-size: em(18);
//    color: #000000;
//    font-family: Lato;
//    font-weight: 100;
//
//  }
//
//
//}
//
//.related-posts {
//  padding-left: 40px;
//}
//
//.related-post {
//  float: left;
//  width: 300px;
//  padding-right: 30px;
//}
//
//.blog-post-ads {
//  position: relative;
//  float: right;
//  width: 29%;
//  height: auto;
//  padding-bottom: 20px;
//}
//
//.blog-post-ad {
//  margin: 20px 0px 0px 0px;
//}
//
//.blog-post-clear {
//  clear: both;
//}