.user-comments{
    font-size: 14px;
    max-width:400px;
    text-shadow:none;
}

.comment-body{
    width: 100%;
    padding-left: .7em;

}
.comment-meta{
    color: #9B9B9B;
    font-size: 13px;
    text-shadow: none;

    a{
        &:hover{
            color:$red;
            text-decoration: underline;
        }
    }
}

.comment-cloud{

    position: relative;
    padding-bottom:1em;

    textarea{
        display: block;
        min-height:6em;
        max-height:16em;
        width:100% !important;
        margin-bottom:.5em;
        padding: .5em 1em;

        border: 1px solid #979797;
        border-radius: 3px;

        background: #fff;
        font-size:13px;
        color: #000;

        &:hover{ border-color: #979797; background-color: #fff; }
        &:disabled{ opacity:.5; border-color: #979797; background-color: #fff; }
        @include placeholder{ color:rgba(0,0,0,.4); }
    }


    /* Left arrow */
    &:before, &:after{
        z-index:5;
        content:'';
        position: absolute;
        top:10px;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        font-size: 0;
        line-height: 0;
    }

    &:before{
        left: -20px;
        border-right: 10px solid #979797;
    }

    &:after{
        left: -19px;
        border-right: 10px solid #fff ;
    }
}
