*{
    margin:0;
    padding:0;
}

.feed-container-blog{
   background: #fff;
}
.link-content-container{
    display:grid;
    grid-template-columns: .5fr 1fr 10% 1fr .5fr;
    grid-template-areas: ". image . words .";
    margin-top:1em;
    margin-bottom:1em;
    border-bottom: 2px solid black;
    @media screen and (max-width: 655px){
            grid-template-columns:  1fr;
            grid-template-areas: "image";
            grid-template-areas: "words";

    }




}

.link-blog-image{
    grid-area: image;
    justify-self:center; 

}
.link-blog-image-self{
    box-shadow: 2px 2px 13px 2px #e1e1e1;


    //justify-self: center;
}
.link-blog-image-grid{
    //display:grid;
}

.blog-item-word{
    grid-area:words;
    margin-top:1em;


    .blog-post-summary{
        text-shadow: none;
        font-size: em(20px);
        line-height: 2;
        font-weight: 300;
        border-bottom: 2px solid #e1e1e1;
        padding-bottom: .5em;


    }
    .blog-post-created{
        text-shadow: none;
        .blog-category{
            color: #cf3533;
          font-size: 1.25em;
            text-decoration: underline;
          font-weight:  bold;
        }
    }
    .blog-post-title{
        text-shadow: none;
        font-weight:  bolder;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;


    }
}





















@mixin feed-grid-item($cols, $orientation:'landscape', $highlight: false ){
    $RATIO: 4/3;

    // Width including margins
    $width: percentage(1/$cols);
    $height: $width/ $RATIO;

    width: $width;

    @if $orientation == 'landscape' {
        @if $highlight == true {
            font-size: 20px;
            width: $width * 2;
            padding-bottom: ($width * 1.99 / $RATIO);
            //padding-bottom: $height * 2;

            img {
                width: 100%;
            }

        } @else {
            padding-bottom: $height;
        }
    } @elseif $orientation == 'portrait' {
        // Double the height of landscape tile + its margins
        padding-bottom: $height * 2 ;///- .01%;





    } @elseif $orientation == 'square' {
        padding-bottom: $width;
    }
}

//.feed-list-blog-posts .feed-item-img {
//        position: relative;
//}

@media screen and (max-width: 655px) {
    .feed-list-blog-posts {
        width: 100%;
        padding: 0;
        background: white;

    }

    .feed-list-blog-posts .feed-item-portrait {
        width: 100%;
        padding-bottom: 0;
        background: white;

    }

     .feed-list-blog-posts .feed-item-img img {
        width: 100%;
        height: 600px;
    }

    .feed-item-blog-post-detail {
        margin-top: -50px;
        z-index: 1;
        position: fixed;
        color: white;
        width: 100%;
        text-align: center;
        font-weight: 500;
    }

     .feed-item-blog-post-detail .blog-post-created {
        color: white;
    }

    .feed-item-blog-post-detail .blog-post-summary {
        display: none;
    }

    .feed-item-blog-post-detail .blog-post-title {
        margin-top: -100px;
    }


}

@media screen and (min-width: 655px) {
     .feed-list-blog-posts .feed-item-portrait {
        width: 100%;
        padding-top: 40px;
        padding-left: 40px;
         background: white;

     }

      //.feed-list-blog-posts .feed-item-blog-post-link {
      //      float: left;
      //      width: 25%;
      //      margin-right: 50px;
      //}


       //.feed-list-blog-posts .feed-item-blog-post-detail {
       //     width: 65%;
       //     float: left;
       //}


    //.feed-list-blog-posts .feed-item-img {
    //    display: inline-block;
    //    margin-bottom: 50px;
    //
    //}

    //.feed-list-blog-posts .feed-item-img img {
    //    width: 200px;
    //}

    //
    //.feed-item-blog-post-detail {
    //    text-shadow: none;
    //}
}

.feed{
    -webkit-perspective: 1000;
    position: relative;
    z-index: 1;
}

.feed-list{
    clear: both;
    overflow: hidden;
    margin:0;
    padding:0;
    background: #000000;
}

.feed-list-blog-posts {
    width: 100%;
    background: #fff;
    padding: 0;
    list-style-type: none;
}

.feed-list.isotope{
    padding-top:2px;
}
.isotope .feed-item-link{
    // Tweaks for when isotope controls layout
    right:0;
    top:0;
    bottom:2px;
}

.feed-item .button {
    position: absolute;
    top: .6em;
    right: .6em;
    z-index: 1;

    &.like-button {
        line-height: 2;

        &.selected {
            background-color: $green;
            border-color: white;
        }
    }
}

.feed-item{
    font-size:16px;

    overflow: hidden;
    display: block;

    float: left;
    position: relative;

    .icon {
        vertical-align: middle;
        margin-right: .2em;
    }
}

.feed-section {
    padding: 0 rem-calc(20);
}

.feed-section-header {
    padding: 0 rem-calc(20);
    font-weight: 400;
    font-size: $large-font;
    margin: em(7) 0;
    color: $trans-white-2;

    .button {
        font-weight: normal;
    }
}

.feed-item.feed-seperator {
    width: 100%;
    padding-bottom: 0;
}

.feed-subheader, .feed-main-header {
    color: $trans-white-2;
}

.feed-main-header {
    font-weight: normal;
    font-size: 2.5em;
}

/*
    Responsive sizing of feed items
*/
@media #{$small-up} {

    .feed-item{
        @include feed-grid-item(2, 'landscape');
    }

    .feed-item-portrait{
        @include feed-grid-item(2, 'portrait');
    }
    .feed-item-square{
        @include feed-grid-item(2, 'square');
    }

}

@media #{$medium-up} {

    .feed-item{
        @include feed-grid-item(3);
    }
    .feed-item-portrait{
        @include feed-grid-item(3, 'portrait');
    }
    .feed-item-square{
        @include feed-grid-item(4, 'square');
    }
    .feed-item-episode:first-of-type {
        @include feed-grid-item(3, 'landscape', true);
    }
    .suggestion-feed{
        .feed-item:nth-child(n+10){
            display: none;
        }
    }

    .feed-section-header {
        font-size: $huge-font;
    }

}

@media #{$large-up} {
    .feed-section-header, .feed-section {
        padding: 0 rem-calc(40);
    }

    .feed-item{
        @include feed-grid-item(4);
    }
    .feed-item-portrait{
        @include feed-grid-item(4, 'portrait');
    }
    .feed-item-square{
        @include feed-grid-item(5, 'square');
    }
    .feed-item-episode:first-of-type {
        @include feed-grid-item(4, 'landscape', true);
    }
    .suggestion-feed{
        .feed-item:nth-child(n+9){
            display: none;
        }
    }

    .feed-section-header {
        font-size: rem-calc(34);
    }

}
@media #{$xlarge-up} {

    .feed-item{
        @include feed-grid-item(5);
    }
    .feed-item-portrait{
        @include feed-grid-item(5, 'portrait');
    }
    .feed-item-square{
        @include feed-grid-item(6, 'square');
    }
    .feed-item-episode:first-of-type {
        @include feed-grid-item(5, 'landscape', true);
    }

    .suggestion-feed{
        .feed-item:nth-child(n+9){
            display: inherit;
        }
    }

}

@media #{$xxlarge-up} {
    .feed-list{
        // Make sure layout does not break for large screens
        max-width: 400*6px;
        margin: 0 auto;
    }

    .feed-item{
        @include feed-grid-item(6);
    }
    .feed-item-portrait{
        @include feed-grid-item(6, 'portrait');
    }
    .feed-item-square{
        @include feed-grid-item(7, 'square');
    }
    .feed-item-episode:first-of-type {
        @include feed-grid-item(6, 'landscape', true);
    }

    .suggestion-feed{
        .feed-item:nth-child(n+7){
            display: none;
        }
    }


}


.feed-item-link{
    @extend %reset;

    cursor:pointer;
    position: absolute;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
}

.no-touch .feed-item-link-test {
    /*
        Hover effect on tiles
    */
    &:before {
        z-index:2;
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        content: "";
        opacity: 0;
        background: rgba(0,0,0,.2);
        transition: opacity 0.15s ease-in-out;

    }
    &:hover:before {  opacity: 1;  }
}

.no-touch .feed-show-tooltip .feed-item {
    &:after {
        z-index: 2;
        pointer-events: none;
        position: absolute;
        //top: -.5em;
        right: 0;
        top:0;
        bottom:0;
        left: 0;
        line-height: 2;
        font-size: 2.5em;
        opacity: 0;
        background-color: rgba(243, 9, 9, .7);
        text-align: center;
        font-weight: 800;
        color: rgba(255,255,255,.9);
        text-shadow: 0 1px rgba(0,0,0,.6);
        content: "CLICK ME";
        display: flex;
        justify-content: center;
        align-items: center;
        @include transition(0.45s ease-in-out);
    }
    &:hover:after {
        top: 0;
        opacity: 1;
    }
}
//
//.feed-item-img{
//    overflow: hidden;
//    position: absolute;
//
//    top:0;
//    left:0;
//    right:0;
//    bottom:0;
//    width:100%;
//    z-index:1;
//
//    img{
//        // This class gets added to img prior loading an image - and removed onload
//        transition: opacity 0.25s ease-in-out;
//        &.unresolved{
//           opacity: 0;
//        }
//    }
//}

.feed-item-content {
    pointer-events: none;
    z-index:3;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px 10px 10px 10px;
    font-size: .8em;
    color: white;
    @include linear-gradient($trans-black-10, $trans-black-3);

    a{
        text-shadow: none;
        pointer-events: auto;
           color: rgba(255,255,255,.8);
        &:hover{
            color: #fff;
        }
    }

    button{
        pointer-events: auto;
    }

    .avatar{
        position: relative;
        height:1.5em;
        width:1.5em;
        margin-right:.15em;
        top:.4em;
    }
}

.feed-item-blog-post {
    width: 100%;
    height: 400px;
    position: relative;
    text-shadow: none;

    .feed-item-blog-post-content {
        height: 100%;
        position: absolute;



        button{
            pointer-events: auto;
        }

        .feed-item-img {
            //TODO responsive
            height: 304px;
            width: 400px;
        }

        .feed-item-blog-post-link {
            img{
                border-color: #000;
                border-style: solid;
                border-width: 2px;
            }

            a{
                text-shadow: none;
                pointer-events: auto;
                color: rgba(255,255,255,.8);
                &:hover{
                    color: #fff;
                }
            }

        }
    }

    .feed-item-blog-post-detail {
        position: relative;
        //TODO this needs to be dynamic to account for resizing
        left: 420px;
        width: 60%;
        // TODO why does this not work on last item in feed?
    }
}



.feed-item-title {
    display: block;
    position: relative;
    font-size: em(17);
    line-height: 1.3;
}

.feed-item-descr{
    display: none;
    font-size: em(14);
    padding-top: .5em;
    line-height: 1;
    letter-spacing:0.01em;
    color: rgba(255,255,255,.6);

    .avatar{
        border-width:1px;
    }
}

.feed-item-created {
    display: none;
    font-size: em(12);
    padding-top: .2em;
    color: rgba(255,255,255,.6);
}

.blog-post-created {
    font-size: em(16);
    color: rgba(0,0,0,1);
    text-transform: uppercase;
}

.blog-post-title {
    font-size: em(25);
}

.feed-item-square .feed-item-title{
    font-size: 18px;
}


// T-shirt icon
.feed-item-num-products:before {
    font-family: "looklive-icons";
    content:  "\E009";
    z-index:5;
    position: absolute;
    top:0;
    left:0;
    opacity:.6;
    font-size:22px;

    width: 100%;
    height: 100%;

    text-align: center;
    display: block;
}​

.feed-item-num-products{
    line-height:32px;
    text-align: center;
    position: absolute;
    right:10px;
    bottom:17px;
    width:22px;
    height:22px;
    font-size:11px;
}

.feed-content{
    padding: 0 20px;
}

.feed-header{
    font-size: 2em;
    margin-top:1em;

 }

.feed-text{
    font-weight: 300;
    max-width: 75%;
    font-size: 1.5em;
    color: rgba(150,150,150,1)
}

@media #{$medium-up} {
    .feed-text{
        font-size: 2.5em;
    }

    .feed-content{
        padding: 0 40px;
    }

    .feed-item-content {
        font-size: 1em;
    }

    .feed-item-created {
        display: block;
    }

    .feed-item-descr {
        display: block;
    }
}

/*
    Feed spinner
*/
.feed-footer{
    text-align: center;
    padding:25px 0;
    height: 100px;
    width: 100%;
    background: black;
}

.feed-preloader {
    margin: 0 auto;
}

.feed-preloader.hidden{
    display: none;
}
