.site-footer {
    padding-top: 2em;
    background-color: black;

    .icon {
        text-shadow: none;
        border-radius: 50%;
        width: 1.4em;
        height: 1.4em;
        line-height: 1.4em;
        font-size: 1.2em;
        text-align: center;
    }

    .icon-facebook {
        background-color: $facebook-blue;
    }

    .icon-twitter {
        background-color: $twitter-blue;
    }

    .icon-pinterest {
        background-color: $pinterest-red;
    }

    .icon-tumblr {
        background-color: $tumblr-turquoise;
    }

    .icon-googleplus {
        background-color: $googleplus-red;
    }
}

.footer-list {
    color: $trans-white-4;
    margin-top: .5em;

    li {
        display: block;
        border-top: 1px solid $trans-white-9;

        &:last-child {
            border-bottom: 1px solid $trans-white-9;
        }
    }
}

.footer-link {
    padding: rem-calc(10) rem-calc(20);
    display: block;
}

.footer-copyright {
    padding: rem-calc(20) 0;
    font-size: $small-font;
    color: $trans-white-6;
}

@media #{$medium-up} {
    .footer-list {
        margin-top: 1.5em;
        li {
            display: inline-block;
            border: none;

            &:last-child {
                border: none; // explicitly reset the bottom border from small screens
            }
        }
    }

    .footer-link {
        padding: 0 rem-calc(15);
    }
}