.friendfinder {
    background: $appearance-white;
    padding: .6em 2.6em 2.6em;

    .social-login-facebook:hover {
        background-color: $appearance-black;
        color: $appearance-white;
    }
}

.friendfinder-title {
    color: $appearance-black;
    font-size: 26px;
    font-weight: 600;
    margin: .7em 0;
}

.friendfinder-no-facebook {
    display: block;
    margin: 1em 0;

    &:hover {
        text-decoration: underline;
    }
}

.friendfinder-suggestions {
    display: flex;
    flex-wrap: wrap;
    //@include justify-content(space-between);
}

.user-card {
    width: 280px;
    border-radius: em(5);
    overflow: hidden;
    background-color: white;
    margin: .5em;
    padding-bottom: 1em;
    position: relative;
    box-shadow: 0 5px 5px transparentize($appearance-black, 0.9);

    flex-shrink: 1;

    .user-card-userinfo {
        display: flex;
        align-items: flex-end;
        margin-top: -1em;
    }

    .user-card-avatar {
        width: em(52);
        height: em(52);
        margin: 0 .5em;
        border-radius: 50%;
        background-color: white;
        border: em(2) white solid;
        flex-shrink: 0;
        align-self: flex-start;
    }

    .user-card-title {
        font-weight: 600;
        font-size: em(20);
        margin: 0;
        padding-top: 1em;
        padding-right: .6em;
        a {
            color: $appearance-black;
        }
    }

    .user-card-bio {
        margin-bottom: 0em;
        margin-left: 1em;
    }

    .follow-button {
        margin: 1em;
        margin-bottom: 0;
    }
}