@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.hero-carousel-image {
    position: absolute;
    left: 0;
    top: 0;
    bottom:0;
    right: 0;

    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

}

.hero-carousel-text {
    bottom: rem-calc(80);
    font-size: rem-calc(20);
    position: absolute;
    text-align: right;
    right: 40px;
}

@media #{$medium-up} {
    .hero-carousel-image {
        animation: fadeIn 1.5s linear both;
    }

    .hero-carousel-text {
        font-size: rem-calc(40);
        top: 50%;
        bottom: auto;
    }

    .hero-carousel-image .hero-carousel-text {
        @include animation(fadeIn 1s 2s linear both);    
    }
}