@mixin hero-shadow {
    &:after {
        content: '';
        left: 0;
        bottom: -2px;
        right: 0;
        height: 7rem;
        z-index: 1;
        display: block;
        position: absolute;
        @include linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    }
}

.sponsor-hero-header{
    margin-bottom: .3em;

}


.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-color: black;
    position: relative;
    padding: rem-calc(20) rem-calc(20) rem-calc(20);

    height: 250px;
}
.hero-shadow {
    @include hero-shadow;
}

.video-hero {
    padding-top: rem-calc(14);
}

.hero-video-container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;

    .hero-video {
        width: 100%;
        height: 59.26vw;
        top: 50%;
        left: 50%;
        background: black;
        position: absolute;
        transform: translate(-50%, -50%);
        display: none;
    }

    &.hidden {
	    display: none;
    }

    /*
    * This prevents (right) clicking on the Youtube video
    */
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
}

.hero-inner {
    z-index: 3;
    position: absolute;
    bottom: rem-calc(20);

    // this will (partially) cause the container to center
    right: rem-calc(20);
    left: rem-calc(20);
}

.hero-header {
    font-size: rem-calc(32);
    line-height: 1;
    margin: 0;
    padding: rem-calc(10) 0;
    font-weight: normal;
    color: white;
}

.hero-inner-vote {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;

    h2 {
        font-size: rem-calc(16);
        line-height: 1.5;
        font-weight: 400;
        margin-bottom: 1.5em;
    }
}

.hero-home-logged-in {
    padding-top: 2em;
    height: rem-calc(150);
    position: relative;
}

.hero-intro {
    padding: 1.25rem 1.5rem;
}
.sponsor-btn{
    margin-bottom: 3%;
}
.hero-inner-intro {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;

    color: #eaeaea; // $text-color
    text-shadow: none;
    text-transform: uppercase;
    font-weight: 500;

    h1 {
        font-size: rem-calc(24);
        line-height: 1;
        width: 24rem;
    }
       h2 {
        font-size: rem-calc(15);
        line-height: 1;
        width: 10rem;
                       margin-bottom: .4em;

    }


    ul {
        font-size: rem-calc(12);
        margin: 0 0 0.67em 0;
        padding: 0;
        line-height: 1.4;
        color: #eaeaea
    }
    .hero-product {
        display: none;
    }
}

.ios-app-store-btn {
    display: block;
    width:93px;
    height:29px;
    background-size: 93px 32px;
    background-image: url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg)
}

.hero-back {
    color: $trans-white-3;

    &:hover, &:active {
        color: white;
    }
}

.hero-nav {
    font-size: $small-font;
    color: $trans-white-3;

    a:hover, a:active, a.hero-nav-selected {
        color: white;
    }

    .vote-button {
        font-weight: 400;
        text-transform: capitalize;
        font-size: rem-calc(20);
    }
}

.vote-subheader {
    font-weight: 400;
    text-transform: none;
}

.hero-subnav {
    padding-top: 1em;
    margin-top: 1em;
    border-top: 1px solid $trans-white-8;

    a:hover, a:active, a.hero-nav-selected {
        color: white;
    }
}

.hero-subheader {
    font-size: $normal-font;
    font-weight: normal;
    margin-bottom: 1em;

    a {
        color: $trans-white-3;
        &:hover, &:focus {
            color: white;
        }
    }
}

.hero-actions {
    margin: 1.3em 0;
    .button {
        margin-right: .6em;
    }
}

.hero-inner-vcenter {
    display: none;
}

.hero-customize-cta {
    padding: 1em 1em 1.66em 1em;
    border-radius: em(5);
    background-color: $appearance-white;
    box-shadow: 0 5px 10px transparentize($appearance-black, .5);
}


@media #{$small-only} {
    // in small-only query to avoid specifity issues
    .hero-autoheight-small-only {
        height: auto;
        min-height: 320px;
        &.video-hero, &.hero-intro {
            min-height: 0;
        }
        &.hero-intro {
            background-position: 28% top;
        }
    }
}

@media #{$medium-up} {
    .hero {
        height: 62vw;
        min-height: rem-calc(450);
        max-height: 80vh;
        padding: rem-calc(60) rem-calc(20) rem-calc(20);

        &:after {
            height: 12rem;
        }

        .hero-avatar-media .media-body {
            white-space: nowrap;
        }
    }

    .hero-inner-intro  .hero-button-container .btn-cta {
        font-size: 1.4em;
    }

    .hero-proportional-height {
        height: 56.25vw;
        max-height: 80vh;
    }

    .video-hero {
        height: 45.25vw;
        max-height: 830px;
        min-height: 0;
    }

    .hero-header {
        font-size: rem-calc(64);
        font-weight: 200;
        padding: rem-calc(25) 0;
    }

    .hero-subheader {
        font-size: $huge-font;
    }

    .hero-inner-vote {
        position: absolute;
        bottom: 0;
        left: rem-calc(20);
        right: rem-calc(20);

        h2 {
            font-size: rem-calc(18);
        }
    }

    .hero-intro {
        height: 80vw;
        min-height: rem-calc(225);
        max-height: 80vh;
    }
    .hero-inner-intro {
        position: absolute;
        top: 0;
        left: rem-calc(20);
        right: rem-calc(20);
        //padding-top: rem-calc(35);
        padding-top: rem-calc(24);
        h1 {
            font-size: rem-calc(42);
            font-weight: 700;
            width: 100%;
        }
          h2 {
            font-size: rem-calc(28);
            font-weight: 500;
            width: 100%;
            margin-bottom: .4em;
        }
        ul {
            font-size: rem-calc(14);
            margin-bottom: 1rem;
        }
        .hero-button-container {
            position: absolute;
            right: 1em;
            top: rem-calc(35);
            color: black;
        }
        .hero-product {
            position: absolute;
            background-image: url(/static/img/hero_product.png);
            background-size: 160px;
            background-repeat: no-repeat;
            width: 160px;
            height: 171px;
            bottom: 0;
            left: 51%;
            padding: 115px 0 0 60px;
            font-size: 0.7em;
        }
    }

    .ios-app-store-btn {
        width:124px;
        height:38px;
        background-size: 124px 38px;
    }

    .hero-back {
        font-size: $xlarge-font;
    }

    .hero-nav {
        padding-bottom: 0;
    }

    .hero-main-nav {
        font-size: 1rem;
        font-weight: 500;
        line-height: 2em;
    }

    .hero-actions {
        font-size: $normal-font;
    }

    .hero-inner-vcenter {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
    }

    .hero-customize-cta {
        margin-top: -10%;
    }
}
@media (min-width: 800px) {
    .hero-inner-intro {
        .hero-product {
            display: block;
        }
    }
}

@media (min-width: 1025px) {
    .hero-video-container {
        background: black;
        .hero-video {
            display: block;
        }
    }
    .home-hero-with-video {
        display: block;
    }
    .home-hero-without-video {
        display: none;
    }
}

// On smaller pages, hide video controls and make sure home-hero-text is visible
@media (max-width: 1024px) {
    // Hide video volume button
    .sound-button {
        display: none;
    }
    // Toggle display of video or non-video controls
    .home-hero-with-video {
        display: none;
    }
    .home-hero-without-video {
        display: block;
    }
}

@media #{$large-up} {
    .hero {
        padding: rem-calc(60) rem-calc(40) rem-calc(40);
    }

    .hero-inner {
        // this will (partially) cause the container to center
        right: rem-calc(40);
        left: rem-calc(40);
    }

    .hero-inner-vote {
        position: absolute;

        h2 {
            font-size: rem-calc(26);
            line-height: 1.5;
        }
    }

    .hero-intro {
        min-height: rem-calc(300);
        max-height: 62vh;
    }
    .hero-inner-intro {
        padding-top: rem-calc(60);

        h1 {
            font-size: rem-calc(67);
        }
        h2 {
            font-size: rem-calc(30);
            margin-bottom: .4em;

        }
        ul {
            font-size: rem-calc(20);
            margin-bottom: 1.5rem;
        }
        .hero-button-container {
            top: rem-calc(70);
        }
    }

    .hero-header {
        font-size: rem-calc(96);
    }
}
