.login-hero {
    background-image: url('/static/img/hero_still_blurred_20150423.jpg');
    background-size:cover;
    background-position: top center;
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
}

.login-well {
    text-align: center;
    text-shadow: none;
    margin: 0 auto 0 auto;
    position: relative;
    border-radius: 0;
    background-color: $trans-black-6;
    border-radius: .3em;
    padding: 1.3em 2em;
    width: 94%;
    background-position: top right;
    background-size: cover;
    @include clearfix;

    hr {
        margin: 1rem 1.875rem
    }

    .textinput, #{$all-text-inputs}, .looklive-select select, .looklive-select select:hover {
        margin: 0 auto;
        max-width: 100%;
        background-color: white;
        color: #333;

        @include placeholder {
            color: #aaa;
        }
    }

    .form-errors {
        font-size: .7em;
        color: white;
        text-shadow: 0px 1px 2px $red;
    }

    .looklive-select:before {
        color: #333;
    }

    .looklive-radiogroup {
        text-align: left;
        font-weight: 500;
        margin-bottom: 0;
    }

    .button-social-login,
    .textinput, #{$all-text-inputs},
    .button {
        box-shadow: 8px 8px 10px $trans-black-4;
    }

    .login-button {
        margin-top: 0;
    }

    .login-link {
        //padding: 0 .66em;
        position: absolute;
        right: 1em;
        top: 1em;

        .icon {
            margin-right: .5em;
        }
    }

    .form-control-group {
        margin-bottom: .75em;
    }
}

.register-name-group {
    width: 48%;
    display: block;
    float: left;

    & + .register-name-group {
        float: right;
    }
}

.login-or-divider {
    height: 2em;
    margin: .25em 0 0 0;
    &:before, &:after {
        height: .8em;
        vertical-align: top;
        border-bottom: 1px solid white;
        width: 42%;
        content: "";
        display: inline-block;
    }
    span {
        margin: 0 3%;
    }
}

.login-link-forgot-password {
    width: 100%;
    display: block;
    font-size: $xsmall-font;
    color: white;
    font-style: italic;
}

.login-register-link {
    display: block;
    margin: 1em 0;
    font-size: $small-font;
    text-align: left;
}

.no-account-txt {
    text-align: left;
}

.login-link-forgot-password,
.no-account-txt {
    text-shadow: 0px 1px 6px #000;
}

.oauth-well {
    text-align: left;

    .button {
        display: block;
        width: 100%;
        margin-bottom: .67em;
    }
}

.oauth-client-name {
    color: white;
}

.oauth-header {
    color: $trans-white-2;
    font-size: $jumbo-font;
}

.oauth-access-list {
    padding-left: 1em;
    font-size: $small-font;
    color: $trans-white-2;
}

.oauth-body, .app-login-body {
    .topbar .searchinput {
        display: none;
    }

    .topbar .menu-button, .topbar .account-button {
        display: none;
    }

    .site-footer {
        display: none;
    }

    .uv-icon {
        display: none;
    }

    .account-button .user-name {
        display: inline;
    }

    .topbar {
        pointer-events: none;
    }
}

.login-link-register {
    color: $red;
}

.button-social-login {
    margin: .5em 0;
    padding-left: 0;
    text-align: left;

    .icon {
        display: inline-block;
        float: left;
        font-size: 1.5em;
        height: 100%;
        border-right: 1px solid white;
        padding: 0 .3em;
        margin-right: .5em;
        line-height: 1.6em;
        width: 38px;
        text-align: center;
    }
}

.social-login-facebook, a.social-login-facebook {
    background: $facebook-blue;

    &:hover,
    &:focus {
        background: saturate($facebook-blue, 20%);
    }
}

.social-login-google {
    background: $googleplus-red;

    &:hover,
    &:focus {
        background: saturate($googleplus-red, 20%);
    }
}

.social-login-twitter {
    background: $twitter-blue;

    &:hover,
    &:focus {
        background: saturate($twitter-blue, 20%);
    }
}

.privacy-policy {
    font-size: $xsmall-font;
    padding-top: 1.5em;
    display: block;
    float: right;
    color: $trans-white-3;
    font-style: italic;
}

.login-inner {
    h2, .h2 {
        margin-top: 0;
        font-weight: 500;
        font-size: $large-font;
        text-align: left;
        line-height: 1.3;
    }
}

.login-stats-counter {
    display: none;
    width: 94%;
    margin: 0 auto;
    position: absolute;
    bottom: -45px;
    font-size: .8em;

    @include clearfix;

    .stats-counter-section {
        float: left;
        display: table;
        width: 50%;
        line-height: 1.3;
    }

    .stats-counter-inner-section {
        display: table-cell;
        vertical-align: middle;
    }

    .stats-counter-large-text {
        font-size: 1.8em;
        font-weight: 700;
    }

    .stats-counter-small-text {
        padding: 0 13px;
        text-align: left;
    }

    .stats-counter-left {
        border-right: 2px solid white;
        text-align: right;

        .stats-counter-small-text {
            width: 118px;
        }
    }

    .stats-counter-right {
        .stats-counter-large-text {
            width: 30px;
            padding-left: 18px;
        }
    }
}

@media #{$medium-up} {
    .login-stats-counter {
        display: block;
    }

    .login-hero {
        padding-top: rem-calc(130);
    }

    .login-well {
        max-width: 650px;
        // so bg images don't get too cropped
        min-height: 400px;
        border-radius: em(5);
        padding-top: 2em;
        background-image: url('/static/img/login_bg.jpg');
        margin-bottom: 5em;
    }

    .login-stats-counter {
        max-width: 650px;
        font-size: 1em;
        bottom: -65px;

        .stats-counter-large-text {
            font-size: 2.3em;
        }

        .stats-counter-small-text {
            padding: 0 18px;
        }
    }

    .login-register-link {
        text-align: right;
        text-shadow: 0 1px 3px $trans-black-4;
        position: absolute;
        top: 1em;
        right: 1em;
        width: 8em;
    }

    .register-well {
        background-image: url('/static/img/register_bg.jpg');
    }

    .recovery-well {
        background-image: url('/static/img/recovery_bg.jpg');

        display: flex;
        flex-direction: column;
        justify-content: center;

        .login-inner {
            margin-top: -2em;
        }
    }

    .login-inner {
        width: 250px;
    }

    .oauth-well {
        text-shadow: 0 1px 5px #333;

        .button {
            display: inline-block;
            width: auto;
        }

        .login-inner {
            background-color: $trans-black-8;
            padding: .6em;
        }
    }

    .oauth-authorize {
        margin-right: .67em;
    }
}
