.person-info-value {
    color: #878787;
}

.person-info-label {
    padding-right: 1.5em;
}

.person-info-row {
    line-height: 1.5;
}

@media #{$medium-up} {
    .person-info-row {
        td {
            display: block;
            &:nth-of-type(2) {
                padding-bottom: 1em; // kind off shady, wanted to margin-bottom .person-info-row but that didn't work. Padding it also didn't work.
            }
        }
    }
}