#menu-popover, #account-popover {
    width: 200px;

    .icon {
        color: $red;
        width: 28px;
    }
}

#beta-popover {
    width: 320px;
    font-size: $small-font;
    padding: em(10) em(20);
    color: $trans-black-3;

    //@include transition(opacity .6s linear);
}

#account-popover {
    &:after {
        left: 85%;
    }
}

#login-popover {
    width: 100px;

    &:after {
        left: 75%;
    }
}

#beta-popover {
    &:after {
        left: 19%;
    }
}

#share-popover {
    width: auto;
}

#menu-popover {
    &:after {
        left: 10%;
    }
}

#share-popover{
    &:after {
        left: 12%;
    }
}

@media #{$small-only} {
    #appearance-share-popover {
        &:after {
            left: 22.5%;
        }
    }
}

.modal {
    width: 500px;
    max-width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: white;
    position: absolute;
    z-index: 2;
    padding: 1.5em 2em;
    color: black;
    text-shadow: none;

    .modal-title {
        font-weight: normal;
        font-size: em(26);
    }
}

.announcement-overlay {
    opacity: 0;
    display: block;
    visibility: hidden;
    transition: opacity 1s;
    &.open {
        visibility: visible;
        opacity: 1;
    }
}