body {
     background-color: white;
 }
.goBack{
    background-color: transparent;
    color: #000000;
    text-shadow: none;
    font-size: em(20);
    border-width: 0px;
    z-index: 1;

}

.product-brand1{
    font-size:1em;
    white-space: nowrap;
    font-weight: 200;
    max-width: 120px;
}
.product-name1{
    font-size: .7em;
    white-space: nowrap;
    width: 70px;
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.offer-price2 {

 color: #000000;
    font-weight: 400;
    font-size: .7em;
    margin-bottom: .6em;
    display: block;
    text-shadow: none;
    font-family: 'Lato';

    }



.product-top-area {
    background-color: white;
    width: 100%;
    height: 100%;

    .product-brand-name {
        font-weight: 600;
        color: #f1f1f1;
        font-size: em(26);
        font-family: Lato;
        text-shadow: none;

    }

    .product-name {
        color: black;
        font-weight: 400;
        font-size: em(22);
        font-family: Lato;
        margin-bottom: 4px;
        text-shadow: none;


    }

    .product-seperator {
        margin: 1.2em 0;
        width: 40%;
        max-width: 280px;
        background-color: #c6c6c6;
    }

    .product-info-list {
        color: #C0C0C0;
        font-weight: 500;
        font-size: em-calc(16);

    }

    .product-info-title {
        color: #f1f1f1;
        font-weight: 600;
    }
    
    .product-actions {
        padding: 2em 0;
    }

    .offer-price {
        color: #000000;
        display: block;
        margin: 1em 0 0 0;
        font-size: 40px;
        text-shadow: none;
    }
}
.related-container{
    display: flex;
    border-top-width: 0px;

    ul{
        justify-content: flex-end;
        li{
            a{
                img{
                    border: 2px solid #a8a8a8

                }
                img:hover{
                    border: 2px solid #e66263;
                    box-shadow: 2px 2px 13px 2px #e1e1e1;
                }
            }
        }
    }


}
.related-apps{
    display:flex;

    ul{
        flex-basis:100%;
        flex-direction: column;


        li{
            align-self: center;
            a{

            }

        }
    }

}


.image-container-product{
    box-shadow: 4px 4px 18px 2px #D7D7D7;
}

.follow-button{
    padding-left: 3px;
    button{
        background-color: #fff;
        text-shadow: none;
    }
    text-shadow: none;
    box-shadow: none;
    background-color: white;
    border: none;
}
 .buynow-div{
        background-color: #e54142;
        text-align: center;
        text-transform: uppercase;
            .buynow-a{
                color: white;
                text-shadow: none;
            }
        width: 40%;
        padding: em(10);
        color: #fff;
        font-weight: 500;
        cursor: pointer;

        }
 .product-action-section{
     border-bottom: 1.5px solid #f1f1f1;
     display:flex;
     justify-content:flex-start;
     margin-top: .5em;
     padding-bottom: 2em;

 }
 .social-share {
     margin-top: .8em;
 }

 .buynow-div2{
     margin-left:.5em;
        button {
            color: #282828;
            background-color: white;
            border-color:white;
            font-size: .8em;
            font-family: Lato;
            margin-left:1em;
        }
 }
 .so-icons {
    border-bottom-width: 0px;
 }

.offer-price1{
 color: #000000;
    font-weight: 400;
    font-size: .7em;
    margin-bottom: .6em;
    display: block;
    text-shadow: none;
    font-family: 'Lato';
}

.product-related-list {
    width: 100%;

    .product-related-item {
        width: 100%;

        flex-shrink: 1;
        display: flex;
        flex-direction: column;

        margin-top: 2em;
        &:first-of-type {
            margin-right: 1em;
            margin-top: 0;
        }

        .product-type, .product-name {
            color: #202023;
            font-size: em(16);
            font-weight: 600;
        }

        .product-brand, .offer-price{
            color: #9B9B9B;
            font-weight: 500;
            font-size: em(16);
        }

        .product-brand {
            margin-top: 1em;
        }

        .offer-price {
            margin-bottom: .6em;
            display: block;
        }
         .offer-price1{
             color: #9B9B9B;
            font-weight: 500;
            font-size: .7em;
             margin-bottom: .6em;
            display: block;
         }


        .product-type {
            text-transform: capitalize;
            margin-bottom: .45em;
        }

        .product-offer-content {
            position: relative;
            bottom: 0;
            flex-grow: 1;
            flex:1 0 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }


        .product-offer-image {
            border: 2px solid #d0d0d0 !important;
        }
    }
}
.product-offer-grid-container{


}

 .share-info-text{

     padding:0;
     margin:0;
 }
 .share-info-caption{
      font-size: em(14);
     color: #787878;
     margin-right: .5em;
     text-shadow: none;
 }
 .appearance-actions{
     margin:0px;
     padding: 0px;
 }

.product-available-at {
    font-size: .5em;
    font-family: Lato;
    color: #464646;
    margin-left: 3em;
    border-bottom: 1.5px solid #f1f1f1;



}

.product-top-left {
    width: 100%;
    overflow: hidden;
    margin-bottom: 1em;
}


.product-top-right {
    padding: .5em;
}

.product-image-container {
    position: relative;
    .product-image {


    }
}

