$sidemargin: rem-calc(8);
$topmargin: rem-calc(14);
$sidemargin-large: rem-calc(25);
$topbar-height: rem-calc(50);

body {
    padding-top: $topbar-height;
}

.topbar {
    width: 100%;
    top: 0;
    height: $topbar-height;
    background-color: $appearance-black;
    backface-visibility: hidden;
    position: fixed;
    z-index: 4000;

    & > .button {
        height: 100%;
        line-height: $topbar-height;
        padding: 0 .5em;
    }
}

.no-touch .topbar .button:hover {
    background-color: lighten($appearance-black, 10);
    color: white;
}

.menu-button {
    font-size: rem-calc(23);
}

.logo-container {
    position: relative;
    height: 100%;
}

.logo {
    @include hide-text;
    display: block;
    margin: 7px .5em 0 1em;
    position: relative;
    @include size(rem-calc(79) rem-calc(32));
    background-image: url('/static/img/logo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.beta-button {
    position: absolute;
    bottom:.5em;
    right:.8em;
    color: $trans-white-2;
    font-weight: 400;
    height: auto;
    font-size: .6em;
    line-height: 1;
}

.search-button {
    font-size: rem-calc(28);
}

.topbar .account-button, .topbar .account-link {
    padding: 0 1em 0 0em;

    .avatar-inline {
        width: 22px;
        height: 22px;
        display: none;
        line-height: $topbar-height;
        vertical-align: middle;
        img {
            display: inline;
            line-height: $topbar-height;
            vertical-align: top
        }

        .icon {
            line-height: 15px;
            margin-right: .3em;
            vertical-align: top;
        }
    }

    .icon {
        font-size: rem-calc(19);
        line-height: 45px;
    }
}

.searchinput-topbar {
    width: 95%;
    width: calc(100% - #{$sidemargin});
    max-width: 600px;
    padding: 10px 59px 0 $sidemargin;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    height: 100%;

    .close-search-button {
        position: absolute;
        top: 0;
        right: 0;
        font-size: rem-calc(23);
        padding: 0 $sidemargin*2.5;
        height: 100%;
        .icon {
            line-height: 52px;
        }
    }
}

.topbar.search-visible {
    .menu-button, .logo, .account-button, .account-link, .search-button, .alerts-button, .beta-button {
        visibility: hidden;
    }

    .searchinput-topbar {
        visibility: visible;
    }
}

.flashmessages {
    position: absolute;
    top: rem-calc(120);
    width: 100%;
    max-width: 640px;
    left: 50%;
    @include transform(translateX(-50%));
}

.login-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: $trans-black-4;
    top: 0;
    left: 0;
    z-index: 20;
    overflow-y: auto;

    .login-well {
        position: absolute;
        left: 50%;

        transform: translateX(-50%);
    }

    &.hidden {
        display: none;
    }
}


@media #{$medium-up} {
    .topbar {
        padding: 0 $sidemargin;
    }
    .login-overlay .login-well {
        top: rem-calc(120);
    }

    .avatar-placeholder-btn {
        display: none;
    }

    .topbar .account-button, .topbar .account-link {
        padding: 0 1em;
        .avatar-inline {
            display: inline-block;
        }
    }
    .topbar .account-link {
        padding: 0 0 0 1em;
    }
}

@media #{$large-up} {
    .no-touch {
        .topbar {
            @include linear-gradient($trans-black-5, $trans-black-10);
            background-color: transparent;
            .button:hover {
                background-color: transparent;
                color: $trans-white-3;
            }
        }
        body{
            padding-top: 0;
        }

    }

    .topbar {
        padding: 0 $sidemargin-large;
    }

    .searchinput-topbar {
        left: 50%;
        width: 400px;
        visibility: visible;
        transform: translateX(-50%);

        padding-left: 0;
        padding-right: 0;

        .close-search-button {
            display: none;
        }
    }

    .topbar .search-button {
        display: none;
    }
}

@media #{$xlarge-up} {
    .searchinput-topbar {
        width: 600px;
    }
}
