.tour-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.overlay-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $trans-black-2;
    z-index: 1;
}

.modal-tour {
    width: 90%;
    margin-top: 1em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    background-color: white;
    position: absolute;
    z-index: 2;
    padding: 1.5em 2em;
    color: black;
    text-shadow: none;
}

.tour-container nav {
    padding-top: 1.5em;
    @include clearfix;
}

.step-prev {
    float: left;
}

.step-next {
    float: right;
}

.end-tour {
    position: absolute;
    top: .8em;
    right: .8em;
    color: black;
    outline: none;
}

@media #{$medium-up} {
    .modal-tour {
        width: 75%;
        margin-top: 3em;
    }
}

@media #{$large-up} {
    .modal-tour {
        width: 60%;
        max-width: 860px;
    }
}