%reset {
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
	border: none;
	outline: none;
	background: transparent;
}

@mixin arrow-on-bottom($size: 10px, $color: black) {
    &:after {
        @include triangle($size, $color, down);
        position: absolute;
        left: 50%;
        content: "";
        margin-left: -$size/2;
        bottom: -$size/2;
    }
}

@mixin arrow-on-right($size: 10px, $color: black) {
    &:after {
        @include triangle($size, $color, right);
        position: absolute;
        top: 50%;
        content: "";
        margin-top: -$size/2;
        right: -$size;
    }
}

@mixin arrow-on-left($size: 10px, $color: black) {
    &:after {
        @include triangle($size, $color, left);
        position: absolute;
        top: 50%;
        content: "";
        margin-top: -$size/2;
        left: -$size;
    }
}

@mixin arrow-on-top($size: 10px, $color: black) {
    &:after {
        @include triangle($size, $color, up);
        position: absolute;
        left: 50%;
        content: "";
        margin-left: -$size/2;
        top: -$size/2;
    }
}