@import "team";
@import "press";

.hero-bg-video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;

    video {
        position: absolute;
        bottom: 0;
        left: 0;
        overflow: hidden;
        width: 100%;
    }
}

.embedded-demo {
    width: 310px;
    height: 310px / 16 * 9;
    display: block;
    margin: 0 auto;
}

.email-form {
    background-color: $trans-white-8;
    padding: rem-calc(25) rem-calc(20) rem-calc(40) rem-calc(20);
}

.about-section {
    background-color: white;
    padding: rem-calc(30) rem-calc(20);

    .media-left, .media-right {
        display: none;
    }
}

.about-send-mail {
    width: 100%;
}

.about-email {
    margin-bottom: 1em;
}

.about-heading, .iubenda_legal_document h1, .iubenda_legal_document h2 {
    color: $red;
    font-weight: 400;
    border-bottom: 2px solid $red;
}

.iubenda_legal_document strong {
    font-weight: inherit;
}

/*
.iubenda_legal_document h3, .iubenda_legal_document h4 {
    font-weight: 600;
}
*/

.about-readmore {
    margin: rem-calc(40) 0 1em 0;
}

.about-demo-wrapper {
    margin-top: 5em;
}

.about-parallax-container {
    height: rem-calc(520);
    position: relative;
    overflow: hidden;
}

.about-parallax-image {
    max-width: none;
    width: 1280px;
    position: absolute;
    left: 50%;
    margin-left: -640px;
    top: 100px;
}

.contact-definition {
    dt {
        font-weight: 500;
        float: left;
        width: rem-calc(75);
    }

    dd {
        float: left;
        color: #8f8f8f;
        margin: 0;
        padding: 0;
    }

    @include clearfix();
}

@media #{$medium-up} {
    .about-section {
        .media {
            padding: 2rem 0;
        }

        .media-left, .media-right {
            display: table-cell;

            img {
                width: 240px;
            }
        }

        .media-left {
            padding-right: 2rem;
        }

        .media-right {
            padding-left: 2rem;
        }
    }

    .embedded-demo {
        margin: 0;
        &.demo-wider {
            width: 600px;
            height: 600px / 16 * 9;
        }
    }

    .about-inner {
        width: 640px;
    }

    .about-email[type=email] {
        width: 320px;
        display: inline-block;
        margin-right: 1em;
        margin-bottom: 0;
    }

    .about-send-mail {
        width: auto;
    }

    .about-heading {
        margin-top: 0;
    }

    .about-readmore {
        margin: .75em 0;
    }

    .about-demo-wrapper {
        margin-top: 3em;
    }

    .contact-definition {
        dd, dt {
            float: none;
        }
    }

    .flexwrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 rem-calc(-20);
    }
}

@media #{$large-up} {
    .hero-bg-video {
        display: block;
    }

    .embedded-demo {
        width: 600px;
        height: 600px / 16 * 9;
        margin: 0;
    }

    .about-section {
        .media-left, .media-right {
            display: table-cell;

            img {
                width: 320px;
            }
        }
    }

    .about-inner {
        width: 1000px;
        max-width: 100%;
    }

    .about-heading {
        font-size: 2.6em;
    }

    .contact-definition {
        display: inline-block;
        margin-right: 3em;
        vertical-align: top;
    }
}