.newsitem {
    margin: 0 0 rem-calc(40);
    width: rem-calc(280);
}

.media-resource {
    background-color: $trans-black-9;
    margin: 0 0 rem-calc(20);
    padding: rem-calc(20);
}

.media-resource-preview {
    height: 75px;
    display: block;
    margin: rem-calc(10) 0;
}

@media #{$medium-up} {
    .newsitem {
        margin: 0 rem-calc(20) rem-calc(20);
    }

    .media-resource {
        margin: 0 rem-calc(20) rem-calc(40);
        width: rem-calc(280);
    }
}

@media #{$large-up} {
    .newsitem, .media-resource {
        width: rem-calc(460);
    }
}