.teammember {
    margin: rem-calc(60) 0;
    position: relative;
    background: $trans-black-9;
    padding: rem-calc(50) rem-calc(20) rem-calc(20);
}

.teammember-heading {
    text-align: center;
}

.teammember-info {
    font-size: $xsmall-font;
    margin-top: em(5);

    &:before {
        color: $trans-black-3;
    }
}

.teammember-education {
    &:before {
        content: "Education: ";
    }
}

.teammember-experience {
    &:before {
        content: "Experience: ";
    }
}

.teammember-avatar {
    width: rem-calc(90);
    height: rem-calc(90);
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    position: absolute;
    top: -45px;
    left: 50%;
    margin-left: -45px;
    box-shadow: 0 0 0 5px white;
}

@media #{$medium-up} {
    .teammember {
        width: 280px;
        margin: rem-calc(40) rem-calc(20) rem-calc(20);
    }
}

@media #{$large-up} {
    .teammember {
        width: 293px;
    }
}